In [7]:
import pandas as pd
from tqdm.notebook import tqdm
from datetime import timedelta

In [2]:
deeds_df = pd.read_csv('data/SF_HistoricalTransaction_IA_20230731_Refresh/Deed_IA.csv')
len(deeds_df)

/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_2919/1477269966.py:1: DtypeWarning: Columns (5,6,7,8,9,10,11,18,19,23,24,25,26,27,58,59,63,64,65,66,67,70,71,95,96,97,98,100,115,117,120,146,148,153,154,155) have mixed types. Specify dtype option on import or set low_memory=False.
  deeds_df = pd.read_csv('data/SF_HistoricalTransaction_IA_20230731_Refresh/Deed_IA.csv')

2772867

In [4]:
deeds_df = deeds_df[['DEED_LID', 'SITE_ADDR', 'SITE_CITY', 'SITE_ZIP', 'DATE_TRANSFER', 'VAL_TRANSFER', 'SITE_HOUSE_NUMBER', 'SITE_DIRECTION', 'SITE_STREET_NAME', 'SITE_UNIT_NUMBER','SITE_MODE', 'ASSESSMENT_LID']]
deeds_df.head()

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE,ASSESSMENT_LID
236,0404OWMLQ67T29NA1ADVRU,4011 WESTOVER RD SE,CEDAR RAPIDS,52403.0,2014-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,0401LFCZY1KP6Y61IWTSKR,NaN,PALO,52324.0,2014-09-18 00:00:00,33000.0,NaN,NaN,NaN,NaN,NaN,NaN
556,0403LKAZ4ZMOG1IO5CGWLT,301 AND 303 W DUNKERTON RD,WATERLOO,50703.0,2011-01-25 00:00:00,217576.0,NaN,NaN,NaN,NaN,NaN,NaN
617,0404WKZ3KK3WE49BCGRJAW,850 TWIXT TOWN RD,MARION,52302.0,2014-10-15 00:00:00,850000.0,NaN,NaN,NaN,NaN,NaN,NaN
718,04042FFD56PSJBO3AOOX2F,"4850,4900,4950 16TH AVE SW",CEDAR RAPIDS,52404.0,2014-10-17 00:00:00,3150000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# m_df = pd.read_csv('data/SF_HistoricalTransaction_IA_20230731_Refresh/Mortgage_IA.csv')
# len(m_df)

In [ ]:
# m_df.head()

In [3]:
deeds_df = deeds_df[deeds_df['SITE_ZIP'].isin([50104,
50106,
50112,
50136,
50153,
50157,
50171,
50207,
50242,
50255,
50268,
50606,
50607,
50612,
50613,
50626,
50629,
50634,
50641,
50643,
50644,
50647,
50648,
50650,
50651,
50654,
50662,
50667,
50669,
50671,
50675,
50682,
50701,
50702,
50703,
50707,
52032,
52033,
52035,
52038,
52040,
52041,
52042,
52043,
52044,
52047,
52048,
52049,
52050,
52052,
52053,
52057,
52065,
52066,
52072,
52073,
52076,
52077,
52078,
52141,
52156,
52157,
52158,
52159,
52162,
52201,
52202,
52203,
52205,
52206,
52208,
52209,
52210,
52211,
52212,
52213,
52214,
52215,
52216,
52218,
52219,
52220,
52221,
52222,
52223,
52224,
52225,
52227,
52228,
52229,
52231,
52232,
52233,
52235,
52236,
52237,
52240,
52241,
52242,
52245,
52246,
52247,
52248,
52249,
52251,
52253,
52255,
52257,
52301,
52302,
52305,
52306,
52307,
52308,
52309,
52310,
52312,
52313,
52314,
52315,
52316,
52317,
52318,
52320,
52321,
52322,
52323,
52324,
52325,
52326,
52327,
52328,
52329,
52330,
52332,
52333,
52334,
52335,
52336,
52337,
52338,
52339,
52340,
52341,
52345,
52346,
52347,
52349,
52351,
52352,
52353,
52354,
52355,
52356,
52358,
52359,
52361,
52362,
52401,
52402,
52403,
52404,
52405,
52411,
52501,
52530,
52533,
52535,
52536,
52537,
52540,
52548,
52550,
52552,
52553,
52554,
52556,
52557,
52561,
52563,
52566,
52567,
52576,
52580,
52585,
52591,
52619,
52621,
52623,
52624,
52625,
52626,
52627,
52630,
52632,
52635,
52639,
52640,
52641,
52644,
52645,
52646,
52647,
52649,
52651,
52653,
52654,
52656,
52657,
52658,
52659,
52720,
52721,
52722,
52726,
52728,
52737,
52738,
52739,
52745,
52746,
52747,
52748,
52749,
52752,
52753,
52754,
52755,
52756,
52758,
52760,
52761,
52765,
52766,
52767,
52768,
52769,
52772,
52773,
52776,
52777,
52778,
52801,
52802,
52803,
52804,
52806,
52807])]

In [3]:
deduped_deeds = pd.read_csv('data/off_market_sales.csv')

In [ ]:

deeds_df[deeds_df['DEED_LID'].isin(deduped_deeds['DEED_LID'])].to_csv('data/off_market_sales.csv', index=False)

In [6]:
deduped_deeds['key'] = [str(a) + str(b) + str(c) for a, b, c in zip(deduped_deeds['SITE_ADDR'],deduped_deeds['SITE_UNIT_NUMBER'], deduped_deeds['SITE_ZIP'])]
len(deduped_deeds['key'].unique())

220635

In [ ]:
deeds_df.head()

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE
236,0404OWMLQ67T29NA1ADVRU,4011 WESTOVER RD SE,CEDAR RAPIDS,52403.0,2014-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
533,0401LFCZY1KP6Y61IWTSKR,NaN,PALO,52324.0,2014-09-18 00:00:00,33000.0,NaN,NaN,NaN,NaN,NaN
556,0403LKAZ4ZMOG1IO5CGWLT,301 AND 303 W DUNKERTON RD,WATERLOO,50703.0,2011-01-25 00:00:00,217576.0,NaN,NaN,NaN,NaN,NaN
617,0404WKZ3KK3WE49BCGRJAW,850 TWIXT TOWN RD,MARION,52302.0,2014-10-15 00:00:00,850000.0,NaN,NaN,NaN,NaN,NaN
718,04042FFD56PSJBO3AOOX2F,"4850,4900,4950 16TH AVE SW",CEDAR RAPIDS,52404.0,2014-10-17 00:00:00,3150000.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
deeds_df.to_csv('data/deed_in_service_area.csv', index=False)

In [ ]:
len(deeds_df)

624480

In [ ]:
pw_closings = pd.read_csv('data/Reso_Closed_listings_2024_01_30.csv')
len(pw_closings)

47926

In [ ]:
pw_closings['unparsed_address'] = pw_closings['unparsed_address'].str.replace('.', '')

/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_35138/2258963057.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pw_closings['unparsed_address'] = pw_closings['unparsed_address'].str.replace('.', '')

In [ ]:
pw_closings.head()

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code
0,20115188,10/05/12,338000.0,1985 HIGHVIEW CIRCLE,1985,NaN,HIGHVIEW CIRCLE,Coralville,52241
1,20095901,28/09/12,29900.0,LT 8 LONGVIEW ESTATES,LT 8,NaN,LONGVIEW ESTATES,NorthLiberty,52317
2,20101774,25/09/12,69900.0,Lt 15 Country Club Estates Pt 3,Lt 15,NaN,Country Club Estates Pt 3,IowaCity,52246
3,20120730,06/09/12,350000.0,735 MESQUITE DR,735,NaN,MESQUITE DR,Coralville,52241
4,20114134,12/09/12,54000.0,Lt 132 Penn Meadows Pt 6,Lt 132,NaN,Penn Meadows Pt 6,NorthLiberty,52317

In [ ]:
deeds_df.dropna(subset='SITE_ADDR', inplace=True)

In [ ]:
len(deeds_df)

591392

In [ ]:
deeds_df[deeds_df['SITE_ADDR'].str.contains('1303 5TH ST')][['DEED_LID', 'SITE_ADDR', 'SITE_CITY', 'SITE_ZIP', 'DATE_TRANSFER', 'VAL_TRANSFER', 'SITE_HOUSE_NUMBER', 'SITE_DIRECTION', 'SITE_STREET_NAME', 'SITE_UNIT_NUMBER','SITE_MODE']]

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE
2071915,0404V059686YQRJR8U4CFI,1303 5TH ST UNIT 408,CORALVILLE,52241.0,2015-03-16 00:00:00,NaN,1303,NaN,5TH,408,ST
2071916,0404ZB602IYAPBUW9OT6ET,1303 5TH ST UNIT 410,CORALVILLE,52241.0,2020-02-12 00:00:00,259000.0,1303,NaN,5TH,410,ST
2071925,0400DH41GZD232POH70IQD,1303 5TH ST UNIT 412,CORALVILLE,52241.0,2018-11-06 00:00:00,298000.0,1303,NaN,5TH,412,ST
2071926,0403S29GBG9FJTIOQ49U54,1303 5TH ST UNIT 412,CORALVILLE,52241.0,2015-02-13 00:00:00,250000.0,1303,NaN,5TH,412,ST
2071927,0403Z4QSLQ13R08M8XCHYR,1303 5TH ST UNIT 418,CORALVILLE,52241.0,2016-05-05 00:00:00,NaN,1303,NaN,5TH,418,ST
2071928,04057GPRAJWSVJ3BU6C2R6,1303 5TH ST UNIT 418,CORALVILLE,52241.0,2022-12-21 00:00:00,354500.0,1303,NaN,5TH,418,ST
2071957,040624X9A5BMJHNS195AMM,1303 5TH ST UNIT 500,CORALVILLE,52241.0,2020-04-17 00:00:00,NaN,1303,NaN,5TH,500,ST
2071958,0404YEK8FVYMR60DR47XQQ,1303 5TH ST UNIT 500,CORALVILLE,52241.0,2020-04-17 00:00:00,358000.0,1303,NaN,5TH,500,ST
2071959,0404FGLA6ZQ6ODXOWGFRJL,1303 5TH ST UNIT 502,CORALVILLE,52241.0,2012-05-18 00:00:00,238500.0,1303,NaN,5TH,502,ST
2071960,0405MS8O6ODZLU8EWO2VXQ,1303 5TH ST UNIT 506,CORALVILLE,52241.0,2018-08-28 00:00:00,425000.0,1303,NaN,5TH,506,ST
2071973,0400327YSIJQEWW3TR83TJ,1303 5TH ST UNIT 506,CORALVILLE,52241.0,2019-06-20 00:00:00,NaN,1303,NaN,5TH,506,ST
2071974,0403RXSIH792EBNU0TU9DM,1303 5TH ST UNIT 506,CORALVILLE,52241.0,2011-12-12 00:00:00,464500.0,1303,NaN,5TH,506,ST
2071975,0403XSYT8Z41XOIJ4336X5,1303 5TH ST UNIT 510,CORALVILLE,52241.0,2020-02-27 00:00:00,275000.0,1303,NaN,5TH,510,ST
2071976,0406RYZNEL04MAPYQECCDL,1303 5TH ST UNIT 512,CORALVILLE,52241.0,2014-04-07 00:00:00,255000.0,1303,NaN,5TH,512,ST
2071985,0400OJCMCYJJKVH81OA14L,1303 5TH ST UNIT 516,CORALVILLE,52241.0,2018-11-30 00:00:00,360000.0,1303,NaN,5TH,516,ST
2071986,0403LPDBBO8IHZKPZ6FNK5,1303 5TH ST UNIT 516,CORALVILLE,52241.0,2022-07-11 00:00:00,380000.0,1303,NaN,5TH,516,ST
2071987,0404N88L0U9GFFV7RW88RP,1303 5TH ST UNIT 518,CORALVILLE,52241.0,2019-12-06 00:00:00,360000.0,1303,NaN,5TH,518,ST
2071988,0405PGS0GGXRKURS7EP3PL,1303 5TH ST UNIT 600,CORALVILLE,52241.0,2012-03-12 00:00:00,499500.0,1303,NaN,5TH,600,ST
2072001,0404050O2JJ350X1QBK4G0,1303 5TH ST UNIT 600,CORALVILLE,52241.0,2022-01-26 00:00:00,400000.0,1303,NaN,5TH,600,ST
2072002,04017A1LOYMUHPXNGY1PA2,1303 5TH ST UNIT 602,CORALVILLE,52241.0,2021-11-01 00:00:00,225000.0,1303,NaN,5TH,602,ST
2072003,040608LZDYZOP9E54HQQSW,1303 5TH ST UNIT 602,CORALVILLE,52241.0,2020-09-10 00:00:00,215000.0,1303,NaN,5TH,602,ST
2072004,04065S21GSK8F1Y3275SMY,1303 5TH ST UNIT 602,CORALVILLE,52241.0,2020-11-10 00:00:00,NaN,1303,NaN,5TH,602,ST
2072021,0405UQ8YQZE6GMNQE63Q2E,1303 5TH ST UNIT 602,CORALVILLE,52241.0,2019-03-07 00:00:00,NaN,1303,NaN,5TH,602,ST
2072022,040712RKCHJL6ZYROSDJE5,1303 5TH ST UNIT 602,CORALVILLE,52241.0,2016-03-25 00:00:00,NaN,1303,NaN,5TH,602,ST
2072023,0404DMVP1GB17XCXLBDC6Y,1303 5TH ST UNIT 602,CORALVILLE,52241.0,2015-08-06 00:00:00,195000.0,1303,NaN,5TH,602,ST
2072024,04040H1XAGD1Z5FKSCJOEW,1303 5TH ST UNIT 604,CORALVILLE,52241.0,2020-04-21 00:00:00,335000.0,1303,NaN,5TH,604,ST
2072049,0403ENTJTVGI1ZHPSGM968,1303 5TH ST UNIT 606,CORALVILLE,52241.0,2017-02-13 00:00:00,NaN,1303,NaN,5TH,606,ST
2072050,0403Q9DG0VOFSVTWWPS52Y,1303 5TH ST UNIT 606,CORALVILLE,52241.0,2021-12-02 00:00:00,439000.0,1303,NaN,5TH,606,ST
2072051,0404DFX0E09P7PO2CC0D2J,1303 5TH ST UNIT 610,CORALVILLE,52241.0,2021-03-15 00:00:00,295000.0,1303,NaN,5TH,610,ST
2072052,04032UAX0BJ4JH5OAHMO0F,1303 5TH ST UNIT 610,CORALVILLE,52241.0,2016-10-27 00:00:00,NaN,1303,NaN,5TH,610,ST
2072061,04013TTLX0VSLI2DFKGGV2,1303 5TH ST UNIT 612,CORALVILLE,52241.0,2015-09-21 00:00:00,NaN,1303,NaN,5TH,612,ST
2072062,0404YT8U3Q7KZJ7NAU8N55,1303 5TH ST UNIT 612,CORALVILLE,52241.0,2017-02-24 00:00:00,NaN,1303,NaN,5TH,612,ST
2072063,0406ZZZGHULRRVLCIOA645,1303 5TH ST UNIT 616,CORALVILLE,52241.0,2017-06-16 00:00:00,NaN,1303,NaN,5TH,616,ST
2072064,0405DOBJ3UYQXQJGGYYGQD,1303 5TH ST UNIT 406,CORALVILLE,52241.0,2015-07-09 00:00:00,375000.0,1303,NaN,5TH,406,ST
2072081,0404K9N5E194BJ5CUCHAN4,1303 5TH ST UNIT 402,CORALVILLE,52241.0,2021-06-09 00:00:00,215000.0,1303,NaN,5TH,402,ST
2072082,0404LB5SI1L91FKS0XQEJ7,1303 5TH ST UNIT 402,CORALVILLE,52241.0,2013-07-29 00:00:00,190000.0,1303,NaN,5TH,402,ST
2072083,0401EE0R233WV92OW9G2MQ,1303 5TH ST UNIT 618,CORALVILLE,52241.0,2018-07-10 00:00:00,400000.0,1303,NaN,5TH,618,ST
2072084,0400FOYQPCAXRIBFHK6XLH,1303 5TH ST UNIT 618,CORALVILLE,52241.0,2015-06-12 00:00:00,350000.0,1303,NaN,5TH,618,ST
2072125,0402AJ28KBVEHOF7N6F4DS,1303 5TH ST UNIT 618,CORALVILLE,52241.0,2015-12-21 00:00:00,360000.0,1303,NaN,5TH,618,ST
2072126,0400JHLXH8ENVTFGZQORT9,1303 5TH ST UNIT 618,CORALVILLE,52241.0,2013-12-04 00:00:00,407500.0,1303,NaN,5TH,618,ST
2072127,0403QKES226DK0IKSUMCWJ,1303 5TH ST,CORALVILLE,52241.0,2014-04-07 00:00:00,255000.0,1303,NaN,5TH,NaN,ST
2072128,0401ZDGFFKMZE87WR19KU3,1303 5TH ST,CORALVILLE,52241.0,2014-05-09 00:00:00,10000.0,1303,NaN,5TH,NaN,ST
2222151,0403HWAVJJFMPT1CACRZQB,1303 5TH ST STE 202,CORALVILLE,52241.0,2013-09-13 00:00:00,NaN,1303,NaN,5TH,202,ST
2222152,0400WCM51KREQCIKWYVUA2,1303 5TH ST STE 202,CORALVILLE,52241.0,2015-02-20 00:00:00,NaN,1303,NaN,5TH,202,ST
2222165,0400NE7EMVN0FUXV0T6ZYT,1303 5TH ST STE 205,CORALVILLE,52241.0,2014-01-22 00:00:00,NaN,1303,NaN,5TH,205,ST
2222166,04027JH2X1BAVOT7O0MJ5S,1303 5TH ST STE 201,CORALVILLE,52241.0,2014-01-17 00:00:00,NaN,1303,NaN,5TH,201,ST
2222167,0407BUAPELP62XIWWOR542,1303 5TH ST STE 207,CORALVILLE,52241.0,2016-02-03 00:00:00,NaN,1303,NaN,5TH,207,ST

In [ ]:
suffixes = pd.read_csv('usps street suffixes.csv')
suffixes.columns = ['Street Suffix', 'to_drop', 'Abbreviation']
suffixes = suffixes[['Street Suffix', 'Abbreviation']]
suffixes.dropna(subset='Street Suffix', inplace=True)

In [ ]:
suffixes

    Street Suffix Abbreviation
0           ALLEY          ALY
4            ANEX          ANX
8          ARCADE          ARC
10         AVENUE          AVE
17          BAYOU          BYU
..            ...          ...
495          WALL         WALL
496           WAY          WAY
498          WAYS         WAYS
499          WELL           WL
500         WELLS          WLS

[206 rows x 2 columns]

In [ ]:
def standardize_address(address: str) -> str:
    address = address.upper()
    address = address.replace('(', '')
    address = address.replace(')', '')
    for index, row in suffixes.iterrows():
        if ' ' + row['Street Suffix'] in address:
            address = address.replace(row['Street Suffix'], row['Abbreviation'])
    return address

In [ ]:
pw_closings['normalized_address'] = [standardize_address(x) for x in tqdm(pw_closings['unparsed_address'])]

  0%|          | 0/47926 [00:00<?, ?it/s]

In [ ]:
pw_closings.head()

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address
0,20115188,10/05/12,338000.0,1985 HIGHVIEW CIRCLE,1985,NaN,HIGHVIEW CIRCLE,Coralville,52241,1985 HIGHVIEW CIR
1,20095901,28/09/12,29900.0,LT 8 LONGVIEW ESTATES,LT 8,NaN,LONGVIEW ESTATES,NorthLiberty,52317,LT 8 LONGVIEW ESTS
2,20101774,25/09/12,69900.0,Lt 15 Country Club Estates Pt 3,Lt 15,NaN,Country Club Estates Pt 3,IowaCity,52246,LT 15 COUNTRY CLB ESTS PT 3
3,20120730,06/09/12,350000.0,735 MESQUITE DR,735,NaN,MESQUITE DR,Coralville,52241,735 MESQUITE DR
4,20114134,12/09/12,54000.0,Lt 132 Penn Meadows Pt 6,Lt 132,NaN,Penn Meadows Pt 6,NorthLiberty,52317,LT 132 PENN MDWS PT 6

## First Pass
First pass of matching: 
- Exact address match only
- Price within 30%
- Date_Transfer within 3 months of Close_Date

In [ ]:
pw_closings[pw_closings['unparsed_address'].str.upper().isin(deeds_df['SITE_ADDR'])]

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address
3,20120730,06/09/12,350000.0,735 MESQUITE DR,735,NaN,MESQUITE DR,Coralville,52241,735 MESQUITE DR
8,20120099,23/02/12,117000.0,1003 230th ST,1003,NaN,230th ST.,Victor,52347,1003 230TH ST
13,20120269,17/02/12,147000.0,1101 CAMBRIA CT,1101,NaN,CAMBRIA CT,IowaCity,52246,1101 CAMBRIA CT
14,20120321,06/02/12,175000.0,1408 Woolridge Dr,1408,NaN,Woolridge Dr,Coralville,52241,1408 WOOLRIDGE DR
16,20120770,02/02/12,422802.0,1233 TIPPERARY RD,1233,NaN,TIPPERARY RD.,IowaCity,52246,1233 TIPPERARY RD
...,...,...,...,...,...,...,...,...,...,...
47914,202102301,02/07/21,196000.0,2211 Hollywood Blvd,2211,NaN,Hollywood Blvd,IowaCity,52240,2211 HOLLYWOOD BLVD
47915,202105316,10/01/22,55000.0,306 C Ave,306,NaN,C. Ave,Kalona,52247,306 C AVE
47919,202106351,22/04/22,359900.0,1115 Kaiser St,1115,NaN,Kaiser St,NorthLiberty,52317,1115 KAISER ST
47923,202201671,28/04/22,160000.0,1012 Cheyenne Rd NW,1012,NaN,Cheyenne Rd NW,CedarRapids,52405,1012 CHEYENNE RD NW
47924,202303303,01/08/23,315000.0,55 Montgomery Pl,55,NaN,Montgomery Pl,IowaCity,52240,55 MONTGOMERY PL

In [ ]:
pw_closings['close_date'] = pd.to_datetime(pw_closings['close_date'], dayfirst=True)
# pw_closings['postal_code'] = pd.to_numeric(pw_closings['postal_code'])

In [ ]:
deeds_df['DATE_TRANSFER'] = pd.to_datetime(deeds_df['DATE_TRANSFER'])

In [ ]:
pw_closings['match_key'] = [x.upper() for x in pw_closings['unparsed_address']]
first_match = pw_closings.merge(deeds_df, how='inner', left_on='match_key', right_on='SITE_ADDR').drop('match_key', axis=1)
first_match.head()

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address,...,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE
0,20120730,2012-09-06,350000.0,735 MESQUITE DR,735,NaN,MESQUITE DR,Coralville,52241,735 MESQUITE DR,...,735 MESQUITE DR,CORALVILLE,52241.0,2012-10-23,350000.0,735,NaN,MESQUITE,NaN,DR
1,20120099,2012-02-23,117000.0,1003 230th ST,1003,NaN,230th ST.,Victor,52347,1003 230TH ST,...,1003 230TH ST,VICTOR,52347.0,2014-04-15,123000.0,1003,NaN,230TH,NaN,ST
2,20120099,2012-02-23,117000.0,1003 230th ST,1003,NaN,230th ST.,Victor,52347,1003 230TH ST,...,1003 230TH ST,VICTOR,52347.0,2009-09-04,NaN,1003,NaN,230TH,NaN,ST
3,20120269,2012-02-17,147000.0,1101 CAMBRIA CT,1101,NaN,CAMBRIA CT,IowaCity,52246,1101 CAMBRIA CT,...,1101 CAMBRIA CT,IOWA CITY,52246.0,2012-02-24,147000.0,1101.0,NaN,CAMBRIA,NaN,CT
4,20120269,2012-02-17,147000.0,1101 CAMBRIA CT,1101,NaN,CAMBRIA CT,IowaCity,52246,1101 CAMBRIA CT,...,1101 CAMBRIA CT,IOWA CITY,52246.0,2016-05-12,NaN,1101.0,NaN,CAMBRIA,NaN,CT

In [ ]:
len(first_match[abs((first_match['close_price'] - first_match['VAL_TRANSFER'])/first_match['close_price']) <= 0.3])

43844

In [ ]:
len(first_match[first_match['close_date'] - first_match['DATE_TRANSFER'] <= pd.to_timedelta('90 days')])

36455

In [ ]:
first_match.groupby('listing_id')['unparsed_address'].count()[first_match.groupby('listing_id')['unparsed_address'].count() > 1]

listing_id
20072144     4
20082915     6
20082931     2
20082948     3
20082957     2
            ..
202306446    5
202306448    5
202400484    3
202400492    2
202400495    2
Name: unparsed_address, Length: 20747, dtype: int64

In [ ]:
first_match = first_match[abs((first_match['close_price'] - first_match['VAL_TRANSFER'])/first_match['close_price']) <= 0.3]

In [ ]:
first_match.groupby('listing_id')['unparsed_address'].count()[first_match.groupby('listing_id')['unparsed_address'].count() > 1].sort_values(ascending=False)

listing_id
202000360    31
20191359     31
202304974    26
20182220     25
20195645     25
             ..
20173251      2
20173246      2
20173216      2
20173198      2
202400492     2
Name: unparsed_address, Length: 12159, dtype: int64

In [ ]:
first_match = first_match[abs(first_match['close_date'] - first_match['DATE_TRANSFER']) <= timedelta(days=90)]

In [ ]:
first_match['days_diff'] = [x - y for x, y in zip(first_match['close_date'], first_match['DATE_TRANSFER'])]

In [ ]:
first_match.groupby('listing_id')['unparsed_address'].count()[first_match.groupby('listing_id')['unparsed_address'].count() > 1].sort_values(ascending=False)

listing_id
20145431     3
20142746     3
202002222    3
20121269     3
20142392     3
            ..
20175489     2
20175986     2
20176157     2
20180534     2
202301666    2
Name: unparsed_address, Length: 256, dtype: int64

In [ ]:
first_match[first_match['listing_id'] == 20121269]

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address,...,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE,days_diff
1374,20121269,2012-07-19,142000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2012-06-25,132000.0,470.0,N,1ST,NaN,AVE,24 days
1382,20121269,2012-07-19,142000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2012-07-24,135500.0,470.0,N,1ST,NaN,AVE,-5 days
1384,20121269,2012-07-19,142000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2012-07-25,142000.0,470.0,N,1ST,NaN,AVE,-6 days

In [ ]:
pw_closings[pw_closings['listing_id'] == 20121269]

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address,match_key
627,20121269,2012-07-19,142000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE

In [ ]:
pw_closings[pw_closings['unparsed_address'] == '470 N 1st Ave']

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address,match_key
627,20121269,2012-07-19,142000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
2218,20130165,2013-06-14,134500.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
3817,20131030,2013-07-29,135000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
5628,20142392,2014-06-06,147000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
6548,20142746,2014-07-25,145000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
9095,20153962,2015-08-21,149000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
11119,20161177,2016-05-13,154900.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
11353,20161699,2016-05-27,154900.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
11692,20162344,2016-05-23,154000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
11823,20161660,2016-06-01,155000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
17993,20185968,2018-10-11,166000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
21949,20193304,2019-08-26,162500.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
25340,202004013,2020-08-10,169900.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
26216,202105896,2021-12-17,178500.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
28455,202101548,2021-06-17,171500.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
29043,202100907,2021-03-31,162000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
31982,202201647,2022-05-05,180000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
33973,202203759,2022-08-10,183500.0,470 N 1st Ave,470,NaN,N. 1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
36324,20171363,2017-04-04,159900.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
36404,20171014,2017-05-11,162500.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
37667,202205539,2022-11-07,175000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE
43770,20183090,2018-07-02,162900.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,470 N 1ST AVE

In [ ]:
first_match[first_match['unparsed_address'] == '470 N 1st Ave']

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address,...,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE,days_diff
1374,20121269,2012-07-19,142000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2012-06-25,132000.0,470.0,N,1ST,NaN,AVE,24 days
1382,20121269,2012-07-19,142000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2012-07-24,135500.0,470.0,N,1ST,NaN,AVE,-5 days
1384,20121269,2012-07-19,142000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2012-07-25,142000.0,470.0,N,1ST,NaN,AVE,-6 days
1394,20130165,2013-06-14,134500.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2013-07-11,134500.0,470.0,N,1ST,NaN,AVE,-27 days
1417,20131030,2013-07-29,135000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2013-07-11,134500.0,470.0,N,1ST,NaN,AVE,18 days
1442,20142392,2014-06-06,147000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2014-06-12,147000.0,470.0,N,1ST,NaN,AVE,-6 days
1447,20142392,2014-06-06,147000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2014-07-31,145000.0,470.0,N,1ST,NaN,AVE,-55 days
1456,20142392,2014-06-06,147000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2014-04-30,145000.0,470.0,N,1ST,NaN,AVE,37 days
1465,20142746,2014-07-25,145000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2014-06-12,147000.0,470.0,N,1ST,NaN,AVE,43 days
1470,20142746,2014-07-25,145000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2014-07-31,145000.0,470.0,N,1ST,NaN,AVE,-6 days
1479,20142746,2014-07-25,145000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2014-04-30,145000.0,470.0,N,1ST,NaN,AVE,86 days
1490,20153962,2015-08-21,149000.0,470 N 1st Ave,470,N,1st Ave,IowaCity,52245,470 N 1ST AVE,...,IOWA CITY,52245.0,2015-08-25,141000.0,470.0,N,1ST,NaN,AVE,-4 days

## Second Pass
Address Matching with normalized Address

In [ ]:
off_market_sales = deeds_df[~deeds_df['DEED_LID'].isin(first_match['DEED_LID'])]
second_match = pw_closings[~pw_closings['listing_id'].isin(first_match['listing_id'])]
len(second_match)

28668

In [ ]:
second_match = second_match.merge(off_market_sales, how='inner', left_on='normalized_address', right_on='SITE_ADDR')
len(second_match)

33060

In [ ]:
second_match = second_match[abs((second_match['close_price'] - second_match['VAL_TRANSFER'])/second_match['close_price']) <= 0.3]
len(second_match)

14174

In [ ]:
second_match = second_match[abs(second_match['close_date'] - second_match['DATE_TRANSFER']) <= timedelta(days=90)]
len(second_match)

4503

In [ ]:
len(first_match)

19522

In [ ]:
len(pw_closings[~(pw_closings['listing_id'].isin(first_match['listing_id']) & ~(pw_closings['listing_id'].isin(second_match['listing_id'])))])

28668

In [ ]:
pw_closings[~(pw_closings['listing_id'].isin(first_match['listing_id']) & ~(pw_closings['listing_id'].isin(second_match['listing_id'])))]

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address,match_key
0,20115188,2012-05-10,338000.0,1985 HIGHVIEW CIRCLE,1985,NaN,HIGHVIEW CIRCLE,Coralville,52241,1985 HIGHVIEW CIR,1985 HIGHVIEW CIRCLE
1,20095901,2012-09-28,29900.0,LT 8 LONGVIEW ESTATES,LT 8,NaN,LONGVIEW ESTATES,NorthLiberty,52317,LT 8 LONGVIEW ESTS,LT 8 LONGVIEW ESTATES
2,20101774,2012-09-25,69900.0,Lt 15 Country Club Estates Pt 3,Lt 15,NaN,Country Club Estates Pt 3,IowaCity,52246,LT 15 COUNTRY CLB ESTS PT 3,LT 15 COUNTRY CLUB ESTATES PT 3
4,20114134,2012-09-12,54000.0,Lt 132 Penn Meadows Pt 6,Lt 132,NaN,Penn Meadows Pt 6,NorthLiberty,52317,LT 132 PENN MDWS PT 6,LT 132 PENN MEADOWS PT 6
5,20114827,2012-09-21,110000.0,10 Acres M/L Cosgrove Rd,10,NaN,Acres M/L Cosgrove Rd,Cosgrove,52322,10 ACRES M/L COSGROVE RD,10 ACRES M/L COSGROVE RD
...,...,...,...,...,...,...,...,...,...,...,...
47920,202105884,2021-12-02,134500.0,2969 Heinz Rd,2969,NaN,Heinz Rd,IowaCity,52240,2969 HEINZ RD,2969 HEINZ RD
47921,202101385,2021-09-20,NaN,28 Sturgis Corner Dr,28,NaN,Sturgis Corner Dr.,IowaCity,52246,28 STURGIS COR DR,28 STURGIS CORNER DR
47922,202204360,2023-02-01,425000.0,107 W Tidewater Dr,107,W,Tidewater Dr,WestBranch,52358,107 W TIDEWATER DR,107 W TIDEWATER DR
47924,202303303,2023-08-01,315000.0,55 Montgomery Pl,55,NaN,Montgomery Pl,IowaCity,52240,55 MONTGOMERY PL,55 MONTGOMERY PL
47925,202304821,2023-11-15,266500.0,701 4th Street,701,NaN,4th Street,Kalona,52247,701 4TH ST,701 4TH STREET

In [ ]:
deeds_df[deeds_df['SITE_ADDR'].str.contains('2969 HEINZ RD')]

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE
2177567,0406OVAH44E4FW8SH9UT8D,2969 HEINZ RD APT 1,IOWA CITY,52240.0,2007-05-04,125000.0,2969.0,NaN,HEINZ,1,RD
2177568,0406JXSETOWYHRQCC6VWAM,2969 HEINZ RD APT 2,IOWA CITY,52240.0,2006-11-21,131000.0,2969.0,NaN,HEINZ,2,RD
2177569,0405M9S6HEYLINAP1XA1X4,2969 HEINZ RD APT 2,IOWA CITY,52240.0,2014-07-10,118000.0,2969.0,NaN,HEINZ,2,RD
2177570,0405ET9I6D9EDT3HAGT2H7,2969 HEINZ RD APT 2,IOWA CITY,52240.0,2019-04-29,NaN,2969.0,NaN,HEINZ,2,RD
2177571,04048EJVA7OTF8847HC89S,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2016-01-20,113500.0,2969.0,NaN,HEINZ,3,RD
2177572,04044D1ORPYMBVWNDOX01B,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2017-08-02,123000.0,2969.0,NaN,HEINZ,3,RD
2177590,0401YB9MOYI8RP1UU0NM20,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2014-12-15,102000.0,2969.0,NaN,HEINZ,3,RD
2177591,0406C4J6UNA93T4WXQQTUQ,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2016-01-19,113500.0,2969.0,NaN,HEINZ,3,RD
2177592,04049SGUTEZN09433YJP56,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2006-12-06,125000.0,2969.0,NaN,HEINZ,3,RD
2177593,04014A8LD1DKLVIH1TAKLQ,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2006-12-11,125000.0,2969.0,NaN,HEINZ,3,RD
2177602,0402093OMSS21XF44QH399,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2014-05-06,105988.0,2969.0,NaN,HEINZ,3,RD
2177603,0404B37SVKP5UM229T59BD,2969 HEINZ RD APT 4,IOWA CITY,52240.0,2015-05-15,NaN,2969.0,NaN,HEINZ,4,RD
2177604,0403C3CNWS3Q1S6CL61XA4,2969 HEINZ RD APT 4,IOWA CITY,52240.0,2014-07-22,124668.0,2969.0,NaN,HEINZ,4,RD
2177605,0406WIYH24XXXSAUO6JH8M,2969 HEINZ RD APT 4,IOWA CITY,52240.0,2018-05-15,126000.0,2969.0,NaN,HEINZ,4,RD
2177615,0402F1Q3ZS080BD60VJF48,2969 HEINZ RD APT 5,IOWA CITY,52240.0,2020-04-30,NaN,2969.0,NaN,HEINZ,5,RD
2177616,0407KDHUGTQ691H57KEZ8L,2969 HEINZ RD APT 5,IOWA CITY,52240.0,2019-06-17,127500.0,2969.0,NaN,HEINZ,5,RD
2177617,040480992WCC599J5ES35Q,2969 HEINZ RD APT 5,IOWA CITY,52240.0,2021-12-13,134500.0,2969.0,NaN,HEINZ,5,RD
2177618,0401C42LXFTVKX8OP8PMVB,2969 HEINZ RD APT 5,IOWA CITY,52240.0,2015-07-28,120000.0,2969.0,NaN,HEINZ,5,RD
2177627,04063KP02K0G1U7DMJX56X,2969 HEINZ RD APT 5,IOWA CITY,52240.0,2009-10-07,119000.0,2969.0,NaN,HEINZ,5,RD
2177628,04065S4C70F6ELJ33GWB03,2969 HEINZ RD APT 6,IOWA CITY,52240.0,2007-03-02,127000.0,2969.0,NaN,HEINZ,6,RD
2177629,0400Z1JAD2BOWF63F2A6P8,2969 HEINZ RD APT 6,IOWA CITY,52240.0,2015-05-27,NaN,2969.0,NaN,HEINZ,6,RD
2177630,0403O33OVD89DWOQ2XGGAC,2969 HEINZ RD APT 6,IOWA CITY,52240.0,2016-04-29,NaN,2969.0,NaN,HEINZ,6,RD
2177651,04013TF1BVZ7ZX2O854YIL,2969 HEINZ RD APT 7,IOWA CITY,52240.0,2020-06-30,130000.0,2969.0,NaN,HEINZ,7,RD
2177652,04045KE13X3O1R471GQOGC,2969 HEINZ RD APT 7,IOWA CITY,52240.0,2013-07-19,95500.0,2969.0,NaN,HEINZ,7,RD
2177653,0403VZWOFV9ZIMBTDEZPE5,2969 HEINZ RD APT 8,IOWA CITY,52240.0,2020-01-13,NaN,2969.0,NaN,HEINZ,8,RD

## Third Pass
- Fuzziest match, deed address contains pw address and visa versa
## Fourth Pass
- Most of address components match each other, maybe missing unit number, etc.

TODO: switch this section from merge to looping through off market sales to find potential match

In [ ]:
off_market_sales = off_market_sales[~off_market_sales['DEED_LID'].isin(second_match['DEED_LID'])]
third_match = pw_closings[~(pw_closings['listing_id'].isin(first_match['listing_id'])) & ~(pw_closings['listing_id'].isin(second_match['listing_id']))]
len(third_match)

24238

In [ ]:
retlist = []
for a, VAL_TRANSFER, DATE_TRANSFER in tqdm(zip(off_market_sales['SITE_ADDR'], off_market_sales['VAL_TRANSFER'], off_market_sales['DATE_TRANSFER']), total=len(off_market_sales)):
    found = False
    for p_address, l_id, close_price, close_date in zip(third_match['normalized_address'], third_match['listing_id'], third_match['close_price'], third_match['close_date']):
        if (a in p_address or p_address in a) and (abs((close_price - VAL_TRANSFER)/close_price) <= 0.3) and (abs(close_date - DATE_TRANSFER) <= timedelta(days=90)):
            retlist.append(l_id)
            found = True
            break
    if not found:
        retlist.append(None)
off_market_sales['matched_listing_id'] = retlist

  0%|          | 0/567458 [00:00<?, ?it/s]

KeyboardInterrupt:

In [ ]:
def fuzzy_match(lb_address: str, pw_address: str, listing_id, lb_price, pw_price, lb_date, pw_date): #, lb_zip, pw_zip):
    l = lb_address.split()
    p = pw_address.split()
    m_count = 0
    if len(l) > len(p):
        len_address = len(l)
        for i in l:
            if i in p: m_count += 1
    else:
        len_address = len(p)
        for i in p:
            if i in l: m_count += 1
    if m_count / len_address >= 0.66 and (abs((lb_price - pw_price) / pw_price) <= 0.3) and (abs(pw_date - lb_date) <= timedelta(days=90)):# and lb_zip == pw_zip:
        return listing_id
    else:
        return None

In [ ]:
retlist = []
for lb_address, lb_price, lb_date, lb_zip in tqdm(zip(off_market_sales['SITE_ADDR'], off_market_sales['VAL_TRANSFER'], off_market_sales['DATE_TRANSFER'], off_market_sales['SITE_ZIP']), total=len(off_market_sales)):
    check = third_match[(third_match['postal_code'].str.contains(str(lb_zip))) | (third_match['postal_code'] == lb_zip)]
    found = False
    for pw_address, pw_price, pw_date, l_id in zip(check['normalized_address'], check['close_price'], check['close_date'], check['listing_id']):
        result = fuzzy_match(lb_address, pw_address, l_id, lb_price, pw_price, lb_date, pw_date)
        if result:
            found = True
            retlist.append(result) 
            break
    if not found:
        retlist.append(None)

  0%|          | 0/567458 [00:00<?, ?it/s]

In [ ]:
third_match['check_zip'] = [int(x.split('-')[0]) if '-' in x else int(x) for x in third_match['postal_code']]

retlist = []
for lb_address, lb_price, lb_date, lb_zip in tqdm(zip(off_market_sales['SITE_ADDR'], off_market_sales['VAL_TRANSFER'], off_market_sales['DATE_TRANSFER'], off_market_sales['SITE_ZIP']), total=len(off_market_sales)):
    check = third_match[third_match['check_zip'] == lb_zip]
    found = False
    for pw_address, pw_price, pw_date, l_id in zip(check['normalized_address'], check['close_price'], check['close_date'], check['listing_id']):
        result = fuzzy_match(lb_address, pw_address, l_id, lb_price, pw_price, lb_date, pw_date)
        if result:
            found = True
            retlist.append(result)
            break
    if not found:
        retlist.append(None)

/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_35138/2167449579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  third_match['check_zip'] = [int(x.split('-')[0]) if '-' in x else int(x) for x in third_match['postal_code']]

  0%|          | 0/567458 [00:00<?, ?it/s]

In [ ]:
off_market_sales['matched_listing_id'] = retlist

In [ ]:
len(off_market_sales[~pd.isna(off_market_sales['matched_listing_id'])])

9289

In [ ]:
off_market_sales[~pd.isna(off_market_sales['matched_listing_id'])].merge(third_match, how='inner', left_on='matched_listing_id', right_on='listing_id')

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,...,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address,match_key,check_zip
0,04062IT4S82TQWM75HEC0E,500 5TH AVE SW,MOUNT VERNON,52314.0,2019-11-06,160000.0,NaN,NaN,NaN,NaN,...,163000.0,500 SW 5th,500,SW,5th,MtVernon,52314,500 SW 5TH,500 SW 5TH,52314
1,0400W59Z9T8DPO5Y3QZW0X,3121 3115 FALCON VIEW CT SW,CEDAR RAPIDS,52404.0,2020-02-04,340000.0,NaN,NaN,NaN,NaN,...,340000.0,3121 Falcon View Ct,3121,NaN,Falcon View Ct,CedarRapids,52404,3121 FALCON VW CT,3121 FALCON VIEW CT,52404
2,0404SPBW6H9PXHNEXIOYEJ,WILDER DR SE,CEDAR RAPIDS,52403.0,2021-11-09,90000.0,NaN,NaN,NaN,NaN,...,102400.0,4571 Maureen Dr SE,4571,NaN,Maureen Dr SE,CedarRapids,52403,4571 MAUREEN DR SE,4571 MAUREEN DR SE,52403
3,04078STXHUARBM8U8XP5NK,4571 MAUREEN DR SE APT 37,CEDAR RAPIDS,52403.0,2021-09-13,120000.0,4571,NaN,MAUREEN,37,...,102400.0,4571 Maureen Dr SE,4571,NaN,Maureen Dr SE,CedarRapids,52403,4571 MAUREEN DR SE,4571 MAUREEN DR SE,52403
4,0402YJI2N503IG2LKAA0QK,4571 MAUREEN DR SE APT 44,CEDAR RAPIDS,52403.0,2021-11-12,102500.0,4571,NaN,MAUREEN,44,...,102400.0,4571 Maureen Dr SE,4571,NaN,Maureen Dr SE,CedarRapids,52403,4571 MAUREEN DR SE,4571 MAUREEN DR SE,52403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9284,0406YI3AM52CUDY00DZP7K,5720 SEMINOLE VALLEY TRL NE,CEDAR RAPIDS,52411.0,2023-06-14,466000.0,5720.0,NaN,SEMINOLE VALLEY,NaN,...,466000.0,5720 Seminole Valley Trail NE,5720,NaN,Seminole Valley Trail NE,CedarRapids,52411,5720 SEMINOLE VLY TRL NE,5720 SEMINOLE VALLEY TRAIL NE,52411
9285,0400KFEF8GQYVZXXQ8EMBF,905 3RD ST SE APT 107,CEDAR RAPIDS,52401.0,2023-03-20,161000.0,905.0,NaN,3RD,107,...,161000.0,905 3rd St SE,905,NaN,3rd St SE,CedarRapids,52401,905 3RD ST SE,905 3RD ST SE,52401
9286,04077ZWHYI8LZCUMW2H2AJ,7114 HARLAN EDDY DR SW,CEDAR RAPIDS,52404.0,2023-06-20,335000.0,7114.0,NaN,HARLAN EDDY,NaN,...,324990.0,7120 SW Harlan Eddy Dr,7120,SW,Harlan Eddy Dr,CedarRapids,52404,7120 SW HARLAN EDDY DR,7120 SW HARLAN EDDY DR,52404
9287,040060ZLKIEYMKMGNGEQBO,105 LINK CIRCLE DR,BROOKLYN,52211.0,2021-07-26,318000.0,105.0,NaN,LINK CIRCLE,NaN,...,318000.0,105 Link Circle,105,NaN,Link Circle,Brooklyn,52211,105 LINK CIR,105 LINK CIRCLE,52211
9288,0401AYF1IR8NNQLWCLKQ9X,2243 DIAMOND TRAIL RD,DEEP RIVER,52222.0,2022-08-03,373000.0,2243,NaN,DIAMOND TRAIL,NaN,...,372600.0,2243 Diamond Trail Road,2243,NaN,Diamond Trail Road,DeepRiver,52222,2243 DIAMOND TRL RD,2243 DIAMOND TRAIL ROAD,52222

In [ ]:
pw_closings[~(pw_closings['listing_id'].isin(first_match['listing_id'])) & ~(pw_closings['listing_id'].isin(second_match['listing_id'])) & ~(pw_closings['listing_id'].isin(retlist))]

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address,match_key
1,20095901,2012-09-28,29900.0,LT 8 LONGVIEW ESTATES,LT 8,NaN,LONGVIEW ESTATES,NorthLiberty,52317,LT 8 LONGVIEW ESTS,LT 8 LONGVIEW ESTATES
2,20101774,2012-09-25,69900.0,Lt 15 Country Club Estates Pt 3,Lt 15,NaN,Country Club Estates Pt 3,IowaCity,52246,LT 15 COUNTRY CLB ESTS PT 3,LT 15 COUNTRY CLUB ESTATES PT 3
4,20114134,2012-09-12,54000.0,Lt 132 Penn Meadows Pt 6,Lt 132,NaN,Penn Meadows Pt 6,NorthLiberty,52317,LT 132 PENN MDWS PT 6,LT 132 PENN MEADOWS PT 6
5,20114827,2012-09-21,110000.0,10 Acres M/L Cosgrove Rd,10,NaN,Acres M/L Cosgrove Rd,Cosgrove,52322,10 ACRES M/L COSGROVE RD,10 ACRES M/L COSGROVE RD
8,20120099,2012-02-23,117000.0,1003 230th ST,1003,NaN,230th ST.,Victor,52347,1003 230TH ST,1003 230TH ST
...,...,...,...,...,...,...,...,...,...,...,...
47920,202105884,2021-12-02,134500.0,2969 Heinz Rd,2969,NaN,Heinz Rd,IowaCity,52240,2969 HEINZ RD,2969 HEINZ RD
47921,202101385,2021-09-20,NaN,28 Sturgis Corner Dr,28,NaN,Sturgis Corner Dr.,IowaCity,52246,28 STURGIS COR DR,28 STURGIS CORNER DR
47922,202204360,2023-02-01,425000.0,107 W Tidewater Dr,107,W,Tidewater Dr,WestBranch,52358,107 W TIDEWATER DR,107 W TIDEWATER DR
47924,202303303,2023-08-01,315000.0,55 Montgomery Pl,55,NaN,Montgomery Pl,IowaCity,52240,55 MONTGOMERY PL,55 MONTGOMERY PL
47925,202304821,2023-11-15,266500.0,701 4th Street,701,NaN,4th Street,Kalona,52247,701 4TH ST,701 4TH STREET

In [ ]:
retlist = []
oms_check = off_market_sales[off_market_sales['SITE_ADDR'].str.contains('2969 HEINZ RD')]
for lb_address, lb_price, lb_date, lb_zip in tqdm(zip(oms_check['SITE_ADDR'], oms_check['VAL_TRANSFER'], oms_check['DATE_TRANSFER'], oms_check['SITE_ZIP']), total=len(oms_check)):
    check = third_match[third_match['check_zip'] == lb_zip]
    found = False
    for pw_address, pw_price, pw_date, l_id in zip(check['normalized_address'], check['close_price'], check['close_date'], check['listing_id']):
        result = fuzzy_match(lb_address, pw_address, l_id, lb_price, pw_price, lb_date, pw_date)
        if result:
            found = True
            retlist.append(result)
            break
    if not found:
        retlist.append(None)

  0%|          | 0/25 [00:00<?, ?it/s]

In [ ]:
retlist

[None,
 None,
 20142232,
 None,
 20155735,
 20171600,
 20143538,
 20155735,
 None,
 None,
 20142232,
 None,
 20142232,
 None,
 None,
 None,
 202105331,
 20150457,
 None,
 None,
 None,
 None,
 202002416,
 20130217,
 None]

In [ ]:
oms_check['matched_listing_id'] = retlist
oms_check[~pd.isna(oms_check['matched_listing_id'])].merge(third_match, how='inner', left_on='matched_listing_id', right_on='listing_id')

/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_35138/3458331484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oms_check['matched_listing_id'] = retlist

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,...,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,normalized_address,match_key,check_zip
0,0405M9S6HEYLINAP1XA1X4,2969 HEINZ RD APT 2,IOWA CITY,52240.0,2014-07-10,118000.0,2969.0,NaN,HEINZ,2,...,118000.0,2969 Heinz Rd,2969,NaN,Heinz Rd,IowaCity,52240,2969 HEINZ RD,2969 HEINZ RD,52240
1,0402093OMSS21XF44QH399,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2014-05-06,105988.0,2969.0,NaN,HEINZ,3,...,118000.0,2969 Heinz Rd,2969,NaN,Heinz Rd,IowaCity,52240,2969 HEINZ RD,2969 HEINZ RD,52240
2,0403C3CNWS3Q1S6CL61XA4,2969 HEINZ RD APT 4,IOWA CITY,52240.0,2014-07-22,124668.0,2969.0,NaN,HEINZ,4,...,118000.0,2969 Heinz Rd,2969,NaN,Heinz Rd,IowaCity,52240,2969 HEINZ RD,2969 HEINZ RD,52240
3,04048EJVA7OTF8847HC89S,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2016-01-20,113500.0,2969.0,NaN,HEINZ,3,...,113500.0,2969 Heinz Road,2969,NaN,Heinz Road,IowaCity,52240,2969 HEINZ RD,2969 HEINZ ROAD,52240
4,0406C4J6UNA93T4WXQQTUQ,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2016-01-19,113500.0,2969.0,NaN,HEINZ,3,...,113500.0,2969 Heinz Road,2969,NaN,Heinz Road,IowaCity,52240,2969 HEINZ RD,2969 HEINZ ROAD,52240
5,04044D1ORPYMBVWNDOX01B,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2017-08-02,123000.0,2969.0,NaN,HEINZ,3,...,172500.0,2982 Heinz Road,2982,NaN,Heinz Road,IowaCity,52240,2982 HEINZ RD,2982 HEINZ ROAD,52240
6,0401YB9MOYI8RP1UU0NM20,2969 HEINZ RD APT 3,IOWA CITY,52240.0,2014-12-15,102000.0,2969.0,NaN,HEINZ,3,...,102000.0,2969 HEINZ ROAD,2969,NaN,HEINZ ROAD,IowaCity,52240,2969 HEINZ RD,2969 HEINZ ROAD,52240
7,040480992WCC599J5ES35Q,2969 HEINZ RD APT 5,IOWA CITY,52240.0,2021-12-13,134500.0,2969.0,NaN,HEINZ,5,...,168000.0,2239 Heinz Rd,2239,NaN,Heinz Rd,IowaCity,52240,2239 HEINZ RD,2239 HEINZ RD,52240
8,0401C42LXFTVKX8OP8PMVB,2969 HEINZ RD APT 5,IOWA CITY,52240.0,2015-07-28,120000.0,2969.0,NaN,HEINZ,5,...,106000.0,2969 HEINZ ROAD,2969,NaN,HEINZ ROAD,IowaCity,52240,2969 HEINZ RD,2969 HEINZ ROAD,52240
9,04013TF1BVZ7ZX2O854YIL,2969 HEINZ RD APT 7,IOWA CITY,52240.0,2020-06-30,130000.0,2969.0,NaN,HEINZ,7,...,130000.0,2969 Heinz Rd,2969,NaN,Heinz Rd,IowaCity,52240,2969 HEINZ RD,2969 HEINZ RD,52240
10,04045KE13X3O1R471GQOGC,2969 HEINZ RD APT 7,IOWA CITY,52240.0,2013-07-19,95500.0,2969.0,NaN,HEINZ,7,...,95500.0,2969 Heinz Road,2969,NaN,Heinz Road,IowaCity,52240,2969 HEINZ RD,2969 HEINZ ROAD,52240

In [3]:
oms = pd.read_csv('data/off_market_sales.csv')
len(oms[oms['SITE_ADDR'] != 'N A'])

554879

In [4]:
len(oms)

558060

In [7]:
len(oms[(~pd.isna(oms['VAL_TRANSFER'])) & (oms['SITE_ADDR'] != 'N A')])

362953

## Checking Unmatched Listings

In [2]:
unmatched_listings = pd.read_csv('data/unmatched_mls_listings.csv')
len(unmatched_listings)

17951

In [3]:
unmatched_listings.head()

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,match_key,normalized_address
0,20095901,2012-09-28,29900.0,LT 8 LONGVIEW ESTATES,LT 8,NaN,LONGVIEW ESTATES,NorthLiberty,52317,LT 8 LONGVIEW ESTATES,LT 8 LONGVIEW ESTS
1,20101774,2012-09-25,69900.0,Lt 15 Country Club Estates Pt 3,Lt 15,NaN,Country Club Estates Pt 3,IowaCity,52246,LT 15 COUNTRY CLUB ESTATES PT 3,LT 15 COUNTRY CLB ESTS PT 3
2,20114134,2012-09-12,54000.0,Lt 132 Penn Meadows Pt 6,Lt 132,NaN,Penn Meadows Pt 6,NorthLiberty,52317,LT 132 PENN MEADOWS PT 6,LT 132 PENN MDWS PT 6
3,20114827,2012-09-21,110000.0,10 Acres M/L Cosgrove Rd,10,NaN,Acres M/L Cosgrove Rd,Cosgrove,52322,10 ACRES M/L COSGROVE RD,10 ACRES M/L COSGROVE RD
4,20120099,2012-02-23,117000.0,1003 230th ST,1003,NaN,230th ST.,Victor,52347,1003 230TH ST,1003 230TH ST

In [4]:
off_market_sales = pd.read_csv('data/off_market_sales.csv')
len(off_market_sales)

353589

In [5]:
off_market_sales.head()

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE
0,0403LKAZ4ZMOG1IO5CGWLT,301 AND 303 W DUNKERTON RD,WATERLOO,50703.0,2011-01-25,217576.0,NaN,NaN,NaN,NaN,NaN
1,0404WKZ3KK3WE49BCGRJAW,850 TWIXT TOWN RD,MARION,52302.0,2014-10-15,850000.0,NaN,NaN,NaN,NaN,NaN
2,04042FFD56PSJBO3AOOX2F,"4850,4900,4950 16TH AVE SW",CEDAR RAPIDS,52404.0,2014-10-17,3150000.0,NaN,NaN,NaN,NaN,NaN
3,0403J6I8GFGS62GDZITGAE,450&454 2ND ST,FAIRFAX,52228.0,2014-10-28,50000.0,NaN,NaN,NaN,NaN,NaN
4,0402KV8IU7AS6QGLHLQXV7,667 BAKER AVE,LISBON,52253.0,2014-12-08,825000.0,NaN,NaN,NaN,NaN,NaN

In [9]:
off_market_sales[(off_market_sales['SITE_ADDR'].str.contains('230TH ST')) & (off_market_sales['SITE_CITY'] == 'VICTOR')]

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE
2537,0403GFV3GRMY77IJQPIOW2,1027 230TH ST,VICTOR,52347.0,2015-10-29,850000.0,NaN,NaN,NaN,NaN,NaN
103340,0405P7Z4IJSA7QXS2D0T96,1245 230TH ST,VICTOR,52347.0,2007-12-28,149000.0,1245,NaN,230TH,NaN,ST
103341,0407DKBTWFFRM6RBD4FSRV,1245 230TH ST,VICTOR,52347.0,2008-10-02,75000.0,1245,NaN,230TH,NaN,ST
103342,0407LUZD0KH43YO3IOUCF3,1243 230TH ST,VICTOR,52347.0,2008-09-30,75000.0,1243,NaN,230TH,NaN,ST
103367,0401YTHO5ET24LKDK6H4AG,1003 230TH ST,VICTOR,52347.0,2014-04-15,123000.0,1003,NaN,230TH,NaN,ST
353067,0403INR3OCZ9RVIOK9X1IZ,4032 230TH ST,VICTOR,52347.0,2015-07-17,325000.0,4032.0,NaN,230TH,NaN,ST

## Checking against Assessments

In [8]:
assessments_df = pd.read_csv('data/iowa_assessments.csv')
oms_df = pd.read_csv('data/off_market_sales.csv')

In [10]:
len(oms_df[oms_df['ASSESSMENT_LID'].isin(assessments_df['assessment_lid'])])

339233

In [11]:
len(oms_df)

353589