In [2]:
import pandas as pd
import json

In [13]:
df = pd.read_csv('CRMLS_Euphrates_agents_without_offices_2024_05_01.csv')
def load_json(s):
    try:
        return json.loads(s.replace("'", '"'))
    except:
        try:
            return json.loads(s.replace("DON'T", 'DONOT').replace('""', '"').replace("'",'"'))
        except:
            return None
df['data'] = [load_json(x) for x in df['data']]

In [14]:
df.head()

   source_id                                               data
0    8226509  {'DeletedYN': '0', 'MemberAOR': 'CD', 'OfficeA...
1     217997  {'DeletedYN': '0', 'MemberAOR': 'EV', 'MemberC...
2     572424  {'DeletedYN': '0', 'MemberAOR': 'IV', 'MemberC...
3     210375  {'DeletedYN': '0', 'MemberAOR': 'IV', 'MemberC...
4     522704  {'DeletedYN': '0', 'MemberAOR': 'EV', 'MemberC...

In [16]:
all_cols = []
for d in df.data:
    try:
        all_cols += d.keys()
    except:
        pass
set(all_cols)

{'AdminUpdateYN',
 'DeletedYN',
 'LastLoginTimestamp',
 'MemberAOR',
 'MemberAddress1',
 'MemberAddress2',
 'MemberAssociationComments',
 'MemberCity',
 'MemberContactOrder1',
 'MemberContactOrder2',
 'MemberContactOrder3',
 'MemberContactOrder4',
 'MemberContactOrder5',
 'MemberContactOrder6',
 'MemberCountry',
 'MemberDirectPhone',
 'MemberDirectPhoneExt',
 'MemberEmail',
 'MemberFax',
 'MemberFirstName',
 'MemberHomePhone',
 'MemberHomePhoneExt',
 'MemberIsAssistantTo',
 'MemberKeyNumeric',
 'MemberLanguages',
 'MemberLastName',
 'MemberLoginId',
 'MemberMiddleName',
 'MemberMlsAccessYN',
 'MemberMlsSecurityClass',
 'MemberMobilePhone',
 'MemberNamePrefix',
 'MemberNationalAssociationId',
 'MemberOtherPhoneSMSNumber',
 'MemberPager',
 'MemberPostalCode',
 'MemberPostalCodePlus4',
 'MemberStateLicense',
 'MemberStateOrProvince',
 'MemberStatus',
 'MemberTollFreePhone',
 'MemberTollFreePhoneExt',
 'MemberType',
 'MemberVoiceMail',
 'MemberVoiceMailExt',
 'ModificationTimestamp',
 'MultipleLogonsYN',
 'OffersEmail',
 'OfficeAOR',
 'OfficeCorporateLicense',
 'OfficeFax',
 'OriginalEntryTimestamp',
 'OriginatingSystemID',
 'OriginatingSystemMemberKey',
 'OriginatingSystemModificationTimestamp',
 'PhotosChangeTimestamp',
 'RatePlugAccessYN',
 'SecurityFeePaidYN',
 'Signature',
 'SocialMediaWebsiteUrlOrId',
 'SourceSystemMemberKey',
 'SyndicateTo'}

In [19]:
len(df)

1177

In [20]:
df = pd.read_csv('[External] CRMLS Members without Offices - Active Agents with No Office Info.csv')
def load_json(s):
    try:
        return json.loads(s.replace("'", '"'))
    except:
        try:
            return json.loads(s.replace("DON'T", 'DONOT').replace('""', '"').replace("'",'"'))
        except:
            return None
df['data'] = [load_json(x) for x in df['data']]

In [21]:
df.head()

   MemberKeyNumeric                                               data
0            522704  {'DeletedYN': '0', 'MemberAOR': 'EV', 'MemberC...
1            210375  {'DeletedYN': '0', 'MemberAOR': 'IV', 'MemberC...
2            217997  {'DeletedYN': '0', 'MemberAOR': 'EV', 'MemberC...
3            561936  {'DeletedYN': '0', 'MemberAOR': 'OC', 'MemberF...
4            542902  {'DeletedYN': '0', 'MemberAOR': 'OA', 'MemberC...

In [26]:
df['data'] = [pd.DataFrame(x, index=[y]) for x,y in zip(df['data'], range(len(df)))]
df.head()

   MemberKeyNumeric                                               data
0            522704    DeletedYN MemberAOR MemberCity MemberType Sy...
1            210375    DeletedYN MemberAOR MemberCity SyndicateTo M...
2            217997    DeletedYN MemberAOR MemberCity SyndicateTo M...
3            561936    DeletedYN MemberAOR MemberFax     MemberCity...
4            542902    DeletedYN MemberAOR MemberCity SyndicateTo M...

In [27]:
df['data'][0]

,DeletedYN,MemberAOR,MemberCity,MemberType,SyndicateTo,MemberStatus,MemberCountry,MemberLoginId,MemberLastName,MemberFirstName,...,MemberContactOrder4,MemberContactOrder5,MemberContactOrder6,OriginatingSystemID,MemberStateOrProvince,ModificationTimestamp,MemberMlsSecurityClass,OriginalEntryTimestamp,OriginatingSystemMemberKey,MemberNationalAssociationId
0,0,EV,NULL,R,ACOM,A,US,EVWULCPHI,ZZDEFAULT,MEMBER,...,3,6,8,CRM,CA,2014-01-16 09:53:00,AG,2012-11-02 17:46:23,61421328,0000

In [30]:
all_data = pd.concat(df['data'].values)

In [32]:
all_data.head()

,DeletedYN,MemberAOR,MemberCity,MemberType,SyndicateTo,MemberStatus,MemberCountry,MemberLoginId,MemberLastName,MemberFirstName,...,MemberAddress1,OfficeAOR,OriginatingSystemModificationTimestamp,MemberMlsAccessYN,SourceSystemMemberKey,MemberEmail,MemberAddress2,LastLoginTimestamp,OffersEmail,MemberMiddleName
0,0,EV,NULL,R,ACOM,A,US,EVWULCPHI,ZZDEFAULT,MEMBER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,IV,SANTA ANA,NaN,ACOM,A,US,IVXXX,DEFAULT MEMBER,DONOT DELETE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,EV,NULL,NaN,ACOM,A,US,DEFAULT,ZZDEFAULT,MEMBER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,OC,Null Zip Code,NaN,ACOM,A,US,805935,zSystem,Default,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,OA,UNKNOWN,NaN,ACOM,A,US,HHTEST,test,test,...,NOT AVAILABLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.merge(all_data, how='inner', left_index=True, right_index=True).drop(columns='data')

,MemberKeyNumeric_x,DeletedYN,MemberAOR,MemberCity,MemberType,SyndicateTo,MemberStatus,MemberCountry,MemberLoginId,MemberLastName,...,MemberAddress1,OfficeAOR,OriginatingSystemModificationTimestamp,MemberMlsAccessYN,SourceSystemMemberKey,MemberEmail,MemberAddress2,LastLoginTimestamp,OffersEmail,MemberMiddleName
0,522704,0,EV,NULL,R,ACOM,A,US,EVWULCPHI,ZZDEFAULT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,210375,0,IV,SANTA ANA,NaN,ACOM,A,US,IVXXX,DEFAULT MEMBER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,217997,0,EV,NULL,NaN,ACOM,A,US,DEFAULT,ZZDEFAULT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,561936,0,OC,Null Zip Code,NaN,ACOM,A,US,805935,zSystem,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,542902,0,OA,UNKNOWN,NaN,ACOM,A,US,HHTEST,test,...,NOT AVAILABLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,8226509,0,CD,Null Zip Code,NaN,NaN,A,NaN,CDAR-D25287,Todd,...,NaN,CD,2017-04-13 13:15:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,572424,0,IV,SANTA ANA,R,"HCOM,RCOM",A,NaN,XXX,DEFAULT MEMBER,...,NaN,NaN,2020-06-21 10:13:01,1,73755487,NaN,NaN,NaN,NaN,NaN
7,9361541,0,OA,NaN,NaN,NaN,A,US,MLSL-185395,Schaffer,...,6770 N. West Ave. Ste. 102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9352865,0,OA,NaN,NaN,NaN,A,US,MLSL-172824,Chiang,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,362589618,0,IG,Moreno Valley,R,"HCOM,RCOM",A,NaN,IGFLEMERI,Fleming,...,15846 Sulphur Springs Rd.,IG,2020-05-15 08:13:02,1,NaN,fishnman1@hotmail.com,Eric Fleming,NaN,NaN,NaN
10,120022944,0,IV,RANCHO CUCAMONGA,NaN,ACOM,A,NaN,IVMAZZNIC,MAZZANTI,...,13233 STANTON DR,NaN,2017-05-01 14:13:09,NaN,NaN,agentmazzanti@gmail.com,NaN,NaN,NaN,NaN
11,361977955,0,IG,Corona,R,"HCOM,RCOM",A,NaN,IGBOYLCHR,Boyle,...,1539 White Holly,IG,2020-03-05 13:03:02,1,NaN,chris@dianareneehomes.com,NaN,2019-01-21 14:34:48,NaN,NaN
12,10000221,0,OC,Fountain Valley,NaN,ACOM,A,NaN,61466,reynolds,...,12345 smither,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10033602,0,OC,Acton,NaN,ACOM,A,NaN,61526,Testerson,...,5655,NaN,NaN,NaN,NaN,testing2@rapattoni.com,NaN,NaN,NaN,NaN
14,153117719,0,CD,Palm Desert,NaN,NaN,A,NaN,CDAR-78130,Russo,...,42035 Washington Street,CD,2017-07-12 05:14:14,NaN,NaN,natalie.russo@efirstbank.com,NaN,NaN,NaN,NaN
15,313434169,0,NaN,NaN,NONM,ACOM,A,NaN,ePropertyWatch,Myers,...,NaN,NaN,2018-06-20 08:56:54,1,NaN,NaN,NaN,NaN,NaN,NaN
16,372027013,0,NaN,NaN,NaN,"HCOM,RCOM,ACOM",A,NaN,WELCOMEMATCRMLSRU,Ardent,...,NaN,NaN,2023-10-13 06:55:14,1,NaN,joe@wellcomemat.com,NaN,NaN,joe@wellcomemat.com,NaN
17,364524218,0,EV,NULL,R,ACOM,A,NaN,EVFRIAPED,ZZDEFAULT,...,NaN,NaN,2020-06-19 16:53:02,1,NaN,NaN,NaN,NaN,NaN,NaN
18,368458427,0,NaN,NaN,NaN,"HCOM,RCOM,ACOM",A,NaN,RENTSPREE,Long de Lugo,...,NaN,NaN,2022-04-05 13:00:10,1,NaN,clyded@rentspree.com,NaN,NaN,clyded@rentspree.com,NaN
19,367122621,0,NaN,NaN,NaN,"HCOM,RCOM,ACOM",A,NaN,DPR,Resources,...,NaN,NaN,2021-08-19 14:08:19,1,NaN,NaN,NaN,NaN,NaN,Payment

In [36]:
all_data.to_clipboard(index=False)