In [1]:
import pandas as pd
import pickle as pkl

In [2]:
closings_x_deeds = pd.read_csv('data/output/matched_deeds_with_closings.csv')

In [3]:
closings_x_deeds = closings_x_deeds[['id', 'DEED_LID', 'type_of_match']]

In [4]:
closings_x_deeds.head()

           id                DEED_LID   type_of_match
0  28689175.0  0406QF6BYVI9YYTPMLS5LC  0_parcel_match
1  28667755.0  0402PLGBUG3VMNMYOBKZ2K  0_parcel_match
2  28666310.0  0400WON13PGC4OJR5LANZ6  0_parcel_match
3  28694152.0  0403EB10Z1F5ZLSLBR5TJY  0_parcel_match
4  28748329.0  0400ZL07W93XAUYHNC82Y8  0_parcel_match

In [5]:
closings_x_deeds[closings_x_deeds['type_of_match'] != '4_threshold_match'].sample(50, random_state=42)

               id                DEED_LID   type_of_match
17940  28748203.0  0400VN1XTBYLSJ5M2M6ZPI  0_parcel_match
56775  28657981.0  0400MC28JJXJHCLSEZHFDD  0_parcel_match
30148  28699067.0  04011OZ8TRDTFBU84WFX3G  0_parcel_match
43644  28682046.0  040735A1H2SPCF1EPDCZY8  0_parcel_match
13263  28677428.0  0400JTKH5HEU4IRQMKZV8P  0_parcel_match
20660  28679647.0  04065OOALEBYXW6EUQQQWX  0_parcel_match
13183  28674972.0  04033Y02GGNI8PXDGK8095  0_parcel_match
46355  28714823.0  0404XW73DS4IK79B33KFZC  0_parcel_match
19136  28663476.0  0402CTM59T4UA46GHDX8OX  0_parcel_match
40323  28675824.0  04072UZRZOLFA0F2V5EECD  0_parcel_match
62015  28704173.0  0401AUTCUE43B3DKV770Y5  0_parcel_match
60175  28697776.0  0400G738CHD6FUQI38F5VR  0_parcel_match
18355  28704671.0  0406H7MDL756675IWNPX00  0_parcel_match
57256  28679373.0  04027D9435M7FPATZEQZCP  0_parcel_match
849    28668994.0  040452HLKKU3ZLKU43S5Y2  0_parcel_match
62909  28660742.0  0404CIW82WQFR57CC91CYC  0_parcel_match
35624  28691034.0  04079ZWSY7MR01YIUH4G28  0_parcel_match
16266  28678639.0  0405TANJASUXD5YMPUA1R1  0_parcel_match
19602  28693714.0  0403AT5C8X556EC2EQRBRZ  0_parcel_match
54657  28705407.0  0404HP4TXR1LSFYZH81M2T  0_parcel_match
19655  28746478.0  0401PVHRL5LMW4VNEXUVHH  0_parcel_match
18933  28691143.0  04036AIE7RY00OTKT6MFKL  0_parcel_match
28763  28702504.0  0406R2KWNL0FPKUVDY3TRK  0_parcel_match
37689  28702675.0  04059XMINFRUV0XXIU5AY3  0_parcel_match
36517  28694045.0  04024MIA9USYOFV1G3HP17  0_parcel_match
11524  28680345.0  0403MD9A09FBA831K449PC  0_parcel_match
46483  28665947.0  0403D9W1DWW05FA02NJB9E  0_parcel_match
55806  28749156.0  0405VAAAIJT0WYOTJ5I6OH  0_parcel_match
46267  28702290.0  0404IZHPJJ5PISIN6M5ZZL  0_parcel_match
9165   28677712.0  0401QIFM9NI4QSSAV46VHJ  0_parcel_match
29691  28667107.0  040172CEJWFXP2SEKZ1E2N  0_parcel_match
57396  28702337.0  040082YOHXMLUTB3JMAEDE  0_parcel_match
46311  28702290.0  0405CPD7U3PAG5168ZGQHI  0_parcel_match
47136  28702796.0  0401M9R3C8W54SQURHUWBF  0_parcel_match
22345  28680654.0  040738MUSMIZ065MZVE8D7  0_parcel_match
39268  28666037.0  040125IBPJVA9EP1DED6S5  0_parcel_match
36699  28701699.0  0400MYYK907KWXVOPYMQP0  0_parcel_match
36568  28679199.0  04009KTOJRED3EB62ZG57O  0_parcel_match
26208  28684360.0  04048WVRENZM8R6P88XUX9  0_parcel_match
39424  28700422.0  040090GYYPXK7J951E3CE1  0_parcel_match
13624  28699600.0  0403QKRGQWNRE423WXXZPL  0_parcel_match
1791   28683654.0  04024RVXWWFKB6H0P6Y1BV  0_parcel_match
53666  28679149.0  0400A4YCZVP4WXQV3VFEP4  0_parcel_match
47100  28712120.0  0400ZU0VA4HXNLG2F3Z0EM  0_parcel_match
48358  28695104.0  0407K414EVPYW0QKMB38UK  0_parcel_match
57557  28701355.0  0404HWU2732M3G3CYQ1K85  0_parcel_match
41126  28675223.0  0400W5HIZICXBT0OWF0PMT  0_parcel_match
4361   28679165.0  0401EZR5O59FSGGKWWQ3UX  0_parcel_match
47312  28702332.0  0403BEMG8X9QTYHFWOS08Y  0_parcel_match
59681  28701240.0  0406MJHNGM2BJUXGB1COU3  0_parcel_match

In [6]:
closings_x_deeds[closings_x_deeds['type_of_match'] == '4_threshold_match'].sample(20, random_state=42)

               id                DEED_LID      type_of_match
73893  28680934.0  0404FVMTTMTG68R6PNDWO5  4_threshold_match
74635  28682634.0  04033D5GLFIMXNPX0KMHVS  4_threshold_match
71440  28664209.0  0401KNJ0XBLALEZQJ8531E  4_threshold_match
68444  28699679.0  040683DOJ11J8TROPVVWXX  4_threshold_match
70763  28663071.0  0402MKP330MOB6JEJ5271G  4_threshold_match
73640  28669854.0  0401ND6HDXIPSNWAV8GXXJ  4_threshold_match
74218  28680746.0  04043W8KVGYNEIEXXDJ77Q  4_threshold_match
67778  28659575.0  04012NMB6OA1ZS2SLS6D5E  4_threshold_match
68828  28718712.0  0406ZKD62W5WWZ433ZSR2S  4_threshold_match
71784  28712112.0  0402OP1D4KW9234CQ7P9IJ  4_threshold_match
73157  28681331.0  04012OCL61Q94QOTWYCWWX  4_threshold_match
68033  28659045.0  0401ESPJUUOL6Z2XBHNF0F  4_threshold_match
73963  28701734.0  0403XICH6RL9RFTOS8U890  4_threshold_match
72819  28704713.0  040630UPZRLRLG5LZSWFJ9  4_threshold_match
69612  28747697.0  04050BTQEMOUCGCDIM02W3  4_threshold_match
71270  28663746.0  0401DH0D5JLNK2X9X0VCM9  4_threshold_match
68509  28706883.0  04036QZAV1TG7ACAHMW0AN  4_threshold_match
68094  28718634.0  0400HQVPBAFFA592E2SOCS  4_threshold_match
73050  28681104.0  0403UTKUSOINAES6KYBIZ5  4_threshold_match
72652  28670281.0  0405AU1WI7MDAUMTFS6L5F  4_threshold_match

In [7]:
with open('data/SF_HistoricalTransaction_IA_20240131/deeds_df.pkl', 'rb') as f:
    deeds_df = pkl.load(f)

closings = pd.read_csv('data/ICAAR_Babylon_Closings_2024_03_19 (1).csv')

In [8]:
closings.head()

,id,rebny_id,building_id,address,zip,sold_price,last_event,add_address_lid,add_house_number,add_prefix_direction,add_street_name,add_suffix_direction,add_suffix_type,parcel_lid,assessment_lid,land_assessed_value,land_market_value
0,28689862,20154103,15189743.0,4304 Cavalier St NE,52402,118000,16/10/15 04:00,0602V0M8MMUTZJI3R0440K,4304,NaN,Cavalier,Ne,St,0204TW8HOGH1IZ7PLV4LRM,0301LV1YJ4S7XNKYU6V0SG,27600.0,27600.0
1,28747289,20114698,14980152.0,1827 Richmond Lane,52245,165000,29/11/11 05:00,06021888Y2UYE6HH8QMW4L,1827,NaN,Richmond,NaN,Ln,0202I7Q2KNM1E8HV7TSOCY,0300OZSAE0UEJUBUCEU75W,33940.0,33940.0
2,28657003,20113326,15137619.0,331 W Short Street,52333,190948,19/12/11 05:00,0607MLYFWP3LGLBG429FJG,331,W,Short,NaN,St,0205S8EOS2A0PATJXBUY6D,0302PCSKSZFCMH4JI2X8UJ,83700.0,83700.0
3,28706220,20111743,NaN,2095 East Post Road,52302,865000,18/11/11 05:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28732272,20115298,NaN,LT 253 CEDAR SPRINGS PT 7,52317,109900,15/11/11 05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
deeds_df.head()

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE,ASSESSMENT_LID
372,0400W5ISFQ6YKSRCR1G103,4743 EDGEWOOD RD SW,CEDAR RAPIDS,52404.0,1997-10-09 00:00:00,37000.0,NaN,NaN,NaN,NaN,NaN,NaN
679,0405V65DC8K93UVKTF1KIK,432 F AVE NW,CEDAR RAPIDS,52405.0,1997-10-16 00:00:00,8500.0,NaN,NaN,NaN,NaN,NaN,NaN
856,0406IDJ63PXDH8R42HTBP8,1130 S 12TH ST,MARION,52302.0,1997-10-21 00:00:00,114500.0,NaN,NaN,NaN,NaN,NaN,NaN
935,0404HKRIYEV8RO3BUP9XSC,2389 225TH AVENUE,FORT MADISON,52627.0,2010-09-08 00:00:00,25000.0,NaN,NaN,NaN,NaN,NaN,NaN
994,0403Z1SQZUOX2T9D7IXDLY,PRIMROSE AND 118TH AVE,DONNELLSON,52625.0,2010-09-22 00:00:00,28000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
closings_x_deeds[closings_x_deeds['type_of_match'] != '4_threshold_match'].sample(50, random_state=42).merge(closings, on='id', how='left').merge(deeds_df, on='DEED_LID', how='left')[['id', 'address', 'zip', 'sold_price', 'last_event', 'DEED_LID', 'SITE_ADDR', 'SITE_ZIP', 'DATE_TRANSFER', 'VAL_TRANSFER', 'type_of_match']].to_clipboard(index=False)

In [14]:
closings_x_deeds[closings_x_deeds['type_of_match'] == '4_threshold_match'].sample(25, random_state=12).merge(closings, on='id', how='left').merge(deeds_df, on='DEED_LID', how='left')[['id', 'address', 'zip', 'sold_price', 'last_event', 'DEED_LID', 'SITE_ADDR', 'SITE_ZIP', 'DATE_TRANSFER', 'VAL_TRANSFER']].to_clipboard(index=False)

In [12]:
closings['last_event']

0        16/10/15 04:00
1        29/11/11 05:00
2        19/12/11 05:00
3        18/11/11 05:01
4        15/11/11 05:00
              ...
46892    18/08/23 04:00
46893    31/08/23 04:01
46894    31/08/23 04:00
46895    30/06/23 04:00
46896    27/07/23 04:00
Name: last_event, Length: 46897, dtype: object

In [15]:
oms = pd.read_csv('data/output/off_market_sales.csv')
oms.head()

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE,ASSESSMENT_LID,normalized_address,matched_listing_id
0,0400W5ISFQ6YKSRCR1G103,4743 EDGEWOOD RD SW,CEDAR RAPIDS,52404.0,1997-10-09,37000.0,NaN,NaN,NaN,NaN,NaN,NaN,4743 EDGEWOOD RD SW,NaN
1,0405V65DC8K93UVKTF1KIK,432 F AVE NW,CEDAR RAPIDS,52405.0,1997-10-16,8500.0,NaN,NaN,NaN,NaN,NaN,NaN,432 F AVE NW,NaN
2,0406IDJ63PXDH8R42HTBP8,1130 S 12TH ST,MARION,52302.0,1997-10-21,114500.0,NaN,NaN,NaN,NaN,NaN,NaN,1130 S 12TH ST,NaN
3,0404HKRIYEV8RO3BUP9XSC,2389 225TH AVENUE,FORT MADISON,52627.0,2010-09-08,25000.0,NaN,NaN,NaN,NaN,NaN,NaN,2389 225TH AVE,NaN
4,0403Z1SQZUOX2T9D7IXDLY,PRIMROSE AND 118TH AVE,DONNELLSON,52625.0,2010-09-22,28000.0,NaN,NaN,NaN,NaN,NaN,NaN,PRIMROSE AND 118TH AVE,NaN

In [16]:
deeds_df = pd.read_csv('data/SF_HistoricalTransaction_IA_20240131/Deed_IA.csv')

/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_86387/2982060212.py:1: DtypeWarning: Columns (5,6,7,8,9,10,11,18,19,23,24,25,26,27,58,59,63,64,65,66,67,70,71,95,96,97,98,100,115,117,120,146,148,153,154,155) have mixed types. Specify dtype option on import or set low_memory=False.
  deeds_df = pd.read_csv('data/SF_HistoricalTransaction_IA_20240131/Deed_IA.csv')

In [17]:
deeds_df[deeds_df['DEED_LID'].isin(oms['DEED_LID'])].to_csv('data/output/oms_all_columns.csv', index=False)

In [18]:
deeds_df.columns

Index(['DEED_LID', 'FIPS_CODE', 'FIPS_STATE_CODE', 'FIPS_MUNI_CODE',
       'SITE_ADDR', 'SITE_HOUSE_NUMBER', 'SITE_DIRECTION', 'SITE_STREET_NAME',
       'SITE_MODE', 'SITE_QUADRANT',
       ...
       'CENSUS_TRACT', 'CENSUS_BLOCK_GROUP', 'CENSUS_BLOCK', 'TRAN_BATCHID',
       'ASSESSMENT_LID', 'PROPERTY_ID', 'GEOMETRY_SOURCE', 'LONGITUDE',
       'LATITUDE', 'VERSION_ID'],
      dtype='object', length=159)

In [19]:
test = ['DEED_LID', 'SITE_ADDR', 'SITE_CITY', 'SITE_ZIP', 'DATE_TRANSFER',
             'VAL_TRANSFER','FIPS_CODE','SITE_HOUSE_NUMBER','SITE_DIRECTION',
             'SITE_STREET_NAME','SITE_MODE','SITE_QUADRANT','SITE_CITY',
             'SITE_STATE','SITE_ZIP','CENSUS_TRACT','OWNER_NAME_1','OWNER_NAME_2',
             'MAIL_HOUSE_NUMBER','MAIL_HOUSE_NUMBER_SUFFIX','MAIL_DIRECTION',
             'MAIL_STREET_NAME','MAIL_MODE','MAIL_QUADRANT','MAIL_UNIT_PREFIX',
             'MAIL_UNIT_NUMBER','MAIL_CITY','MAIL_STATE','MAIL_ZIP','MAIL_PLUS_4',
             'USE_CODE_STD_DESC_LPS','USE_CODE_STD_CTGR_DESC_LPS',
             'LOT_WIDTH','LOT_DEPTH','ACREAGE','LOT_SIZE_AREA','TOPOGRAPHY',
             'VAL_ASSD_LAND','VAL_ASSD_LAND','VAL_ASSD_IMPRV','VAL_MARKET',
             'VAL_MRKT_LAND','VAL_MRKT_IMPRV','ASMT_YEAR','YR_BLT','BUILDING_SQFT',
             'BSMT_1_CODE','BEDROOMS','TOTAL_BATHS','PARTIAL_BATHS','AIR_CONDITIONING',
             'CONSTRUCTION_CODE','EXTERIOR_WALL_TYPE','FOUNDATION_TYPE',
             'GARAGE_CARPORT_TYPE','HEATING_TYPE','PARKING_SPACES',
             'POOL_INDICATOR','ROOF_COVER_TYPE','STORIES_NUMBER','STYLE_TYPE',
             'UNITS_NUMBER','FLOOR_COVER','HEATING_FUEL_TYPE',
             'AIR_CONDITIONING_TYPE','AMENITIES','AMENITIES_2',
             'OTHER_IMPR_BLDG_IND_1','OTHER_IMPR_BLDG_IND_2',
             'OTHER_IMPR_BLDG_IND_3','OTHER_IMPR_BLDG_IND_4',
             'OTHER_IMPR_BLDG_IND_5','OTHER_IMPR_BLDG_AREA_1',
             'OTHER_IMPR_BLDG_AREA_2','OTHER_IMPR_BLDG_AREA_3',
             'OTHER_IMPR_BLDG_AREA_4','OTHER_IMPR_BLDG_AREA_5',
             'OTHER_ROOMS','EXTRA_FEATURES_AREA_1_IND','EXTRA_FEATURES_AREA_2_IND',
             'EXTRA_FEATURES_AREA_3_IND','EXTRA_FEATURES_AREA_4_IND',
             'ROOF_TYPE','WATER','SEWER']

In [23]:
retcols=[]
for t in test:
    if t not in deeds_df.columns:
        print(t)
    else:
        retcols.append(t)

OWNER_NAME_1
OWNER_NAME_2
MAIL_HOUSE_NUMBER
MAIL_HOUSE_NUMBER_SUFFIX
MAIL_DIRECTION
MAIL_STREET_NAME
MAIL_MODE
MAIL_QUADRANT
MAIL_UNIT_PREFIX
MAIL_UNIT_NUMBER
MAIL_CITY
MAIL_STATE
MAIL_ZIP
MAIL_PLUS_4
LOT_WIDTH
LOT_DEPTH
ACREAGE
LOT_SIZE_AREA
TOPOGRAPHY
VAL_ASSD_LAND
VAL_ASSD_LAND
VAL_ASSD_IMPRV
VAL_MARKET
VAL_MRKT_LAND
VAL_MRKT_IMPRV
ASMT_YEAR
YR_BLT
BUILDING_SQFT
BSMT_1_CODE
BEDROOMS
TOTAL_BATHS
PARTIAL_BATHS
AIR_CONDITIONING
CONSTRUCTION_CODE
EXTERIOR_WALL_TYPE
FOUNDATION_TYPE
GARAGE_CARPORT_TYPE
HEATING_TYPE
PARKING_SPACES
POOL_INDICATOR
ROOF_COVER_TYPE
STORIES_NUMBER
STYLE_TYPE
UNITS_NUMBER
FLOOR_COVER
HEATING_FUEL_TYPE
AIR_CONDITIONING_TYPE
AMENITIES
AMENITIES_2
OTHER_IMPR_BLDG_IND_1
OTHER_IMPR_BLDG_IND_2
OTHER_IMPR_BLDG_IND_3
OTHER_IMPR_BLDG_IND_4
OTHER_IMPR_BLDG_IND_5
OTHER_IMPR_BLDG_AREA_1
OTHER_IMPR_BLDG_AREA_2
OTHER_IMPR_BLDG_AREA_3
OTHER_IMPR_BLDG_AREA_4
OTHER_IMPR_BLDG_AREA_5
OTHER_ROOMS
EXTRA_FEATURES_AREA_1_IND
EXTRA_FEATURES_AREA_2_IND
EXTRA_FEATURES_AREA_3_IND
EXTRA_FEATURES_AREA_4_IND
ROOF_TYPE
WATER
SEWER

In [24]:
retcols

['DEED_LID',
 'SITE_ADDR',
 'SITE_CITY',
 'SITE_ZIP',
 'DATE_TRANSFER',
 'VAL_TRANSFER',
 'FIPS_CODE',
 'SITE_HOUSE_NUMBER',
 'SITE_DIRECTION',
 'SITE_STREET_NAME',
 'SITE_MODE',
 'SITE_QUADRANT',
 'SITE_CITY',
 'SITE_STATE',
 'SITE_ZIP',
 'CENSUS_TRACT',
 'USE_CODE_STD_DESC_LPS',
 'USE_CODE_STD_CTGR_DESC_LPS']

In [25]:
deeds_df['DATE_FILING']

0          2011-10-24 00:00:00
1          2011-05-28 00:00:00
2          2011-09-27 00:00:00
3          2011-10-12 00:00:00
4          2011-08-27 00:00:00
                  ...
2859886    2023-07-31 00:00:00
2859887    2023-01-06 00:00:00
2859888    2020-07-16 00:00:00
2859889    2022-04-29 00:00:00
2859890    2022-10-21 00:00:00
Name: DATE_FILING, Length: 2859891, dtype: object

In [26]:
deeds_df[['DATE_FILING', 'DATE_TRANSFER']]

                 DATE_FILING        DATE_TRANSFER
0        2011-10-24 00:00:00  2011-10-28 00:00:00
1        2011-05-28 00:00:00  2011-10-20 00:00:00
2        2011-09-27 00:00:00  2011-10-11 00:00:00
3        2011-10-12 00:00:00  2011-10-13 00:00:00
4        2011-08-27 00:00:00  2011-10-11 00:00:00
...                      ...                  ...
2859886  2023-07-31 00:00:00  2023-08-03 00:00:00
2859887  2023-01-06 00:00:00  2023-01-17 00:00:00
2859888  2020-07-16 00:00:00  2020-07-29 00:00:00
2859889  2022-04-29 00:00:00  2022-05-04 00:00:00
2859890  2022-10-21 00:00:00  2022-10-27 00:00:00

[2859891 rows x 2 columns]