In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
#all_parcels = pd.read_csv('data/ICAAR_building_parcel_data_2024_03_18.csv')
all_closings = pd.read_csv('data/ICAAR_Babylon_Closings_2024_03_18.csv')

In [3]:
def load_lightbox_data(fpath: str, service_zips: list) -> pd.DataFrame:
    df = pd.read_csv(fpath)
    df = df[['DEED_LID', 'SITE_ADDR', 'SITE_CITY', 'SITE_ZIP', 'DATE_TRANSFER', 'VAL_TRANSFER', 'SITE_HOUSE_NUMBER', 'SITE_DIRECTION', 'SITE_STREET_NAME', 'SITE_UNIT_NUMBER','SITE_MODE', 'ASSESSMENT_LID']]
    df = df[df['SITE_ZIP'].isin(service_zips)]
    df.dropna(subset='ASSESSMENT_LID', inplace=True)
    df.dropna(subset='VAL_TRANSFER', inplace=True)
    return df[~(df['SITE_ADDR'] == 'N A')]

In [4]:
service_zips = [50104,50106,50112,50136,50153,50157,50171,50207,50242,50255,50268,50606,50607,50612,50613,50626,50629,
                50634,50641,50643,50644,50647,50648,50650,50651,50654,50662,50667,50669,50671,50675,50682,50701,50702,
                50703,50707,52032,52033,52035,52038,52040,52041,52042,52043,52044,52047,52048,52049,52050,52052,52053,
                52057,52065,52066,52072,52073,52076,52077,52078,52141,52156,52157,52158,52159,52162,52201,52202,52203,
                52205,52206,52208,52209,52210,52211,52212,52213,52214,52215,52216,52218,52219,52220,52221,52222,52223,
                52224,52225,52227,52228,52229,52231,52232,52233,52235,52236,52237,52240,52241,52242,52245,52246,52247,
                52248,52249,52251,52253,52255,52257,52301,52302,52305,52306,52307,52308,52309,52310,52312,52313,52314,
                52315,52316,52317,52318,52320,52321,52322,52323,52324,52325,52326,52327,52328,52329,52330,52332,52333,
                52334,52335,52336,52337,52338,52339,52340,52341,52345,52346,52347,52349,52351,52352,52353,52354,52355,
                52356,52358,52359,52361,52362,52401,52402,52403,52404,52405,52411,52501,52530,52533,52535,52536,52537,
                52540,52548,52550,52552,52553,52554,52556,52557,52561,52563,52566,52567,52576,52580,52585,52591,52619,
                52621,52623,52624,52625,52626,52627,52630,52632,52635,52639,52640,52641,52644,52645,52646,52647,52649,
                52651,52653,52654,52656,52657,52658,52659,52720,52721,52722,52726,52728,52737,52738,52739,52745,52746,
                52747,52748,52749,52752,52753,52754,52755,52756,52758,52760,52761,52765,52766,52767,52768,52769,52772,
                52773,52776,52777,52778,52801,52802,52803,52804,52806,52807]

# load lightbox data
deeds_df = load_lightbox_data('data/SF_HistoricalTransaction_IA_20240131/Deed_IA.csv', service_zips)

/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_15817/896484244.py:2: DtypeWarning: Columns (5,6,7,8,9,10,11,18,19,23,24,25,26,27,58,59,63,64,65,66,67,70,71,95,96,97,98,100,115,117,120,146,148,153,154,155) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fpath)

In [5]:
# all_parcels.head()

In [6]:
all_closings.head()

,id,rebny_id,building_id,sold_price,last_event,add_address_lid,add_house_number,add_prefix_direction,add_street_name,add_suffix_direction,add_suffix_type,parcel_lid,assessment_lid,land_assessed_value,land_market_value
0,28689862,20154103,15189743.0,118000,16/10/15 04:00,0602V0M8MMUTZJI3R0440K,4304,NaN,Cavalier,Ne,St,0204TW8HOGH1IZ7PLV4LRM,0301LV1YJ4S7XNKYU6V0SG,27600.0,27600.0
1,28746966,20154122,15067430.0,350000,02/10/15 04:00,0601D8A3U10UAB2NKN0QJ0,2525,NaN,U,NaN,Ave,0207HKAJLSPC5NXU5LOQX1,0301BXKKJT7PPZ51USFK52,66790.0,66790.0
2,28689244,20154567,14986634.0,205900,07/10/15 04:00,060018KBCMRCRS1UUZ1ILK,1905,NaN,Lakeside,NaN,Dr,0206J1865O28QTHTMGHY5M,0304D7WNU9KXK7MQEK2B8I,54330.0,54330.0
3,28677687,20150676,15052007.0,280000,30/11/15 05:01,0605V6ON4OOQY7OXLAAA65,235,NaN,Holiday,NaN,Rd,0200416OKL1VWJ8INAL7Y6,0306WXKMHZCY917GYW5XVG,66000.0,66000.0
4,28663888,20154593,15182002.0,103000,02/10/15 04:00,0603H4VI5D36Q0WI686ZAZ,416,N,Spencer,NaN,St,0202NFT9YFGMXF7P1V14WO,0307MLM4SXS4X5LWAXACTC,28640.0,28640.0

In [7]:
deeds_df.head()

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE,ASSESSMENT_LID
63403,0405JD1Q036LLB9E5DF3BP,1477 140TH AVE,DONNELLSON,52625.0,2007-02-09 00:00:00,116000.0,1477.0,NaN,140TH,NaN,AVE,03043JC4SV532HBN48Z5XX
63613,0405PIPOUSWW9MTUJ4W647,1589 140TH AVE,DONNELLSON,52625.0,2010-12-28 00:00:00,125000.0,1589.0,NaN,140TH,NaN,AVE,03012ASLVW0P6APERKDKWK
63614,0405CJJUQJIZM1ACG8U3QD,1589 140TH AVE,DONNELLSON,52625.0,2009-06-18 00:00:00,110000.0,1589.0,NaN,140TH,NaN,AVE,03012ASLVW0P6APERKDKWK
63615,0402A3DHJYOJKXCWB1G75Z,1589 140TH AVE,DONNELLSON,52625.0,2018-05-04 00:00:00,132000.0,1589.0,NaN,140TH,NaN,AVE,03012ASLVW0P6APERKDKWK
63616,0402FIFVN885AYWO157LZE,1589 140TH AVE,DONNELLSON,52625.0,2018-07-09 00:00:00,127000.0,1589.0,NaN,140TH,NaN,AVE,03012ASLVW0P6APERKDKWK

In [8]:
all_closings.columns = [x.upper() for x in all_closings.columns]
len(deeds_df)

415314

## Approach 1: Directly joining to building using assessment_id

In [9]:
len(deeds_df.merge(all_closings, how='inner', on='ASSESSMENT_LID').groupby('DEED_LID'))

48198

In [10]:
merged = deeds_df.merge(all_closings, how='inner', on='ASSESSMENT_LID')
len(merged.groupby('DEED_LID'))/len(all_closings.groupby('ID'))

1.0279827667107453

In [11]:
merged.groupby('DEED_LID')['ADD_ADDRESS_LID'].count().sort_values()

DEED_LID
040000BOMOJAMOK1SK11O1      1
0404LJYWP63TV1PV9V2LFW      1
0404LK0YDJD2EH1KSJ01OX      1
0404LK8BBSN9EFP39N9YV2      1
0404LKG3X08TPXM5WTQ0CZ      1
                         ...
0403M8HUF6CO8AN6E7ODD1     94
0403SPY8DK5GBDE74KVLE3    104
0402697H8AHR1OD8YEIRVV    105
0402TYXPKKDRY0S3L08OQA    105
0403E3OOOMBJWSKRZJG9UN    153
Name: ADD_ADDRESS_LID, Length: 48198, dtype: int64

In [12]:
closings_with_oms = all_closings.merge(deeds_df, how='left', on='ASSESSMENT_LID')
len(closings_with_oms[pd.isna(closings_with_oms['DEED_LID'])])

9214

In [13]:
len(closings_with_oms[pd.isna(closings_with_oms['DEED_LID'])])/len(all_closings)

0.19647731149778233

In [14]:
len(all_closings[pd.isna(all_closings['PARCEL_LID'])])

4439

In [15]:
len(all_closings[~pd.isna(all_closings['PARCEL_LID'])])

42457

## Approach 2: Joining via assessments_x_parcels table

In [16]:
parcels_x_assessments = pd.read_csv('data/SF_Professional_IA_20240115/ParcelAssessmentRelation_IA.csv')
parcels_x_assessments.head()

   FIPS_CODE          ASSESSMENT_LID              PARCEL_LID
0      19047  0306KG5NXRN56OGAX2M8XI  0207GPOU5IMIRC5HSV8DS5
1      19047  0304AMT1D2FK6S4APXSJXY  0204EK2ME7U0VR7H9FXMFI
2      19047  03047M1PVWNCQVLROE9CAD  0207LPU6AWDE9HRFCOMP9P
3      19047  0306BNJS8EN860J7Q0KUJ6  0204IF65Q4PA4R6QOFUIPI
4      19047  030122BB0FGO86FTUPGFPW  0207II94GENKLVDNQ9GHM6

In [17]:
listings_with_oms = deeds_df.merge(parcels_x_assessments, how='inner', on='ASSESSMENT_LID').merge(all_closings, how='inner', on='PARCEL_LID')

In [18]:
listings_with_oms.head()

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,...,LAST_EVENT,ADD_ADDRESS_LID,ADD_HOUSE_NUMBER,ADD_PREFIX_DIRECTION,ADD_STREET_NAME,ADD_SUFFIX_DIRECTION,ADD_SUFFIX_TYPE,ASSESSMENT_LID_y,LAND_ASSESSED_VALUE,LAND_MARKET_VALUE
0,0406QF6BYVI9YYTPMLS5LC,1887 HIGHWAY 2 # 1889,DONNELLSON,52625.0,2015-10-23 00:00:00,136500.0,1887.0,NaN,HIGHWAY 2,1889,...,04/09/15 04:00,0605E5XGVW2U9FSHSJBS78,1887,NaN,Highway 2,NaN,NaN,0307N9UK8YMC7FA51BHG7E,19310.0,19310.0
1,0403TQCK5DIC1BIYNTB9ND,1887 HIGHWAY 2 # 1889,DONNELLSON,52625.0,2010-11-08 00:00:00,27000.0,1887.0,NaN,HIGHWAY 2,1889,...,04/09/15 04:00,0605E5XGVW2U9FSHSJBS78,1887,NaN,Highway 2,NaN,NaN,0307N9UK8YMC7FA51BHG7E,19310.0,19310.0
2,0402PLGBUG3VMNMYOBKZ2K,716 UNIVERSITY ST,DONNELLSON,52625.0,2022-06-22 00:00:00,218500.0,716.0,NaN,UNIVERSITY,NaN,...,22/06/22 04:01,0600AV8IIOIC8QTHIIMOCD,716,NaN,University,NaN,St,0304GTN8LKM539MRQKZVTG,12000.0,12000.0
3,0400WON13PGC4OJR5LANZ6,205 S MAIN ST,DONNELLSON,52625.0,2021-11-03 00:00:00,205000.0,205.0,S,MAIN,NaN,...,29/10/21 04:01,06041MP0AMQSAENEK962K4,205,S,Main,NaN,St,0302KBLHKIAWDFGWW9AU8E,15360.0,15360.0
4,0400WGKSDMUE5ASL505A79,5 CEDAR CT,MONTROSE,52639.0,2012-12-20 00:00:00,68500.0,5.0,NaN,CEDAR,NaN,...,30/01/20 05:02,0605540OTXLK54PHZL4Q97,5,NaN,Cedar,NaN,Ct,0306WJFRBO9IM1WSW9GPLZ,17560.0,17560.0

In [19]:
len(listings_with_oms)

570209

In [20]:
listings_with_oms.groupby('ID')['DEED_LID'].nunique().sort_values(ascending=False)

ID
28708448    283
28675447    283
28699277    283
28675478    283
28675718    283
           ...
28675947      1
28710548      1
28710553      1
28675939      1
28655267      1
Name: DEED_LID, Length: 39164, dtype: int64

In [21]:
listings_with_oms['ID'].nunique()/all_closings['ID'].nunique()

0.835302648978373

In [22]:
listings_with_oms.groupby('ID')['DEED_LID'].nunique()[listings_with_oms.groupby('ID')['DEED_LID'].nunique()>1]

ID
28655268      2
28655317      2
28655324      2
28655363      3
28655376      2
           ...
28798647      3
28803118    283
28803119      2
28803121      3
28805923      2
Name: DEED_LID, Length: 28555, dtype: int64

In [23]:
listings_with_oms[listings_with_oms['ID'] == 28798647][['DEED_LID', 'SITE_ADDR', 'VAL_TRANSFER', 'DATE_TRANSFER', 'LAST_EVENT', 'ADD_HOUSE_NUMBER', 'ADD_STREET_NAME', 'ADD_SUFFIX_TYPE', 'SOLD_PRICE']]

,DEED_LID,SITE_ADDR,VAL_TRANSFER,DATE_TRANSFER,LAST_EVENT,ADD_HOUSE_NUMBER,ADD_STREET_NAME,ADD_SUFFIX_TYPE,SOLD_PRICE
87269,04071FLMRSKJDK8HF8853O,215 WASHINGTON AVE,200000.0,2007-08-29 00:00:00,01/03/24 05:02,215,Washington,Ave,380021
87271,0405KYV2KZKZX3UHSNP6KC,215 WASHINGTON AVE,230000.0,2014-06-25 00:00:00,01/03/24 05:02,215,Washington,Ave,380021
87273,0404N1U8IPSIP1Q7PXLIKF,215 WASHINGTON AVE,260000.0,2023-11-22 00:00:00,01/03/24 05:02,215,Washington,Ave,380021

In [24]:
listings_with_oms['DATE_TRANSFER'] = listings_with_oms['DATE_TRANSFER'].astype('datetime64')
listings_with_oms['LAST_EVENT'] = listings_with_oms['LAST_EVENT'].astype('datetime64')

In [25]:
in_range = listings_with_oms[(abs(listings_with_oms['VAL_TRANSFER'] - listings_with_oms['SOLD_PRICE'])/listings_with_oms['VAL_TRANSFER'] < 0.3) &
                  (abs(listings_with_oms['DATE_TRANSFER'] - listings_with_oms['LAST_EVENT']) < timedelta(days=90))]

In [26]:
in_range['ID'].nunique()

25385

In [27]:
in_range['ID'].nunique()/all_closings['ID'].nunique()

0.5414196135306915

In [28]:
address_match_unmatched = pd.read_csv('data/unmatched_mls_listings.csv')
address_match_unmatched.head()

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,match_key,normalized_address
0,20095901,2012-09-28,29900.0,LT 8 LONGVIEW ESTATES,LT 8,NaN,LONGVIEW ESTATES,NorthLiberty,52317,LT 8 LONGVIEW ESTATES,LT 8 LONGVIEW ESTS
1,20101774,2012-09-25,69900.0,Lt 15 Country Club Estates Pt 3,Lt 15,NaN,Country Club Estates Pt 3,IowaCity,52246,LT 15 COUNTRY CLUB ESTATES PT 3,LT 15 COUNTRY CLB ESTS PT 3
2,20114134,2012-09-12,54000.0,Lt 132 Penn Meadows Pt 6,Lt 132,NaN,Penn Meadows Pt 6,NorthLiberty,52317,LT 132 PENN MEADOWS PT 6,LT 132 PENN MDWS PT 6
3,20114827,2012-09-21,110000.0,10 Acres M/L Cosgrove Rd,10,NaN,Acres M/L Cosgrove Rd,Cosgrove,52322,10 ACRES M/L COSGROVE RD,10 ACRES M/L COSGROVE RD
4,20120099,2012-02-23,117000.0,1003 230th ST,1003,NaN,230th ST.,Victor,52347,1003 230TH ST,1003 230TH ST

In [29]:
address_match_unmatched[address_match_unmatched['listing_id'].isin(in_range['REBNY_ID'])]

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,match_key,normalized_address
29,20123950,2012-08-10,215000.0,841-843 S Summit St,841-843,S,Summit St,IowaCity,52245,841-843 S SUMMIT ST,841-843 S SMT ST
36,20112004,2012-05-01,139900.0,1677 BURR DR,1677,NaN,BURR DR,NorthLiberty,52317,1677 BURR DR,1677 BURR DR
37,20112008,2012-05-01,139900.0,1574 BURR DR,1574,NaN,BURR DR,NorthLiberty,52317,1574 BURR DR,1574 BURR DR
38,20121352,2012-04-12,133000.0,2910 Heinz Road,2910,NaN,Heinz Road,IowaCity,52240,2910 HEINZ ROAD,2910 HEINZ RD
40,20121413,2012-04-30,365000.0,4944 Rapid Creek Road,4944,NaN,Rapid Creek Road,IowaCity,52240,4944 RAPID CREEK ROAD,4944 RPD CRK RD
...,...,...,...,...,...,...,...,...,...,...,...
17909,20133327,2013-09-03,70000.0,3587 Dolphin Dr,3587,NaN,Dolphin Dr.,IowaCity,52240,3587 DOLPHIN DR,3587 DOLPHIN DR
17930,20151918,2015-06-19,155000.0,258 West Side Dr,258,NaN,West Side Dr.,IowaCity,52246,258 WEST SIDE DR,258 WEST SIDE DR
17935,202001910,2020-06-11,322500.0,2890 Blue Sage Dr Unit B,2890,NaN,Blue Sage Dr Unit B,Coralville,52241,2890 BLUE SAGE DR UNIT B,2890 BLUE SAGE DR UNIT B
17946,202105884,2021-12-02,134500.0,2969 Heinz Rd,2969,NaN,Heinz Rd,IowaCity,52240,2969 HEINZ RD,2969 HEINZ RD
17950,202304821,2023-11-15,266500.0,701 4th Street,701,NaN,4th Street,Kalona,52247,701 4TH STREET,701 4TH ST

In [30]:
len(address_match_unmatched[address_match_unmatched['listing_id'].isin(in_range['REBNY_ID'])])/len(address_match_unmatched)

0.1778173917887583

In [31]:
print(len(address_match_unmatched[address_match_unmatched['listing_id'].isin(in_range['REBNY_ID'])]),len(address_match_unmatched))

3192 17951

In [32]:
all_closings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46896 entries, 0 to 46895
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    46896 non-null  int64
 1   REBNY_ID              46896 non-null  int64
 2   BUILDING_ID           42457 non-null  float64
 3   SOLD_PRICE            46896 non-null  int64
 4   LAST_EVENT            46896 non-null  object
 5   ADD_ADDRESS_LID       42457 non-null  object
 6   ADD_HOUSE_NUMBER      42457 non-null  object
 7   ADD_PREFIX_DIRECTION  6101 non-null   object
 8   ADD_STREET_NAME       42457 non-null  object
 9   ADD_SUFFIX_DIRECTION  5742 non-null   object
 10  ADD_SUFFIX_TYPE       42277 non-null  object
 11  PARCEL_LID            42457 non-null  object
 12  ASSESSMENT_LID        42457 non-null  object
 13  LAND_ASSESSED_VALUE   42189 non-null  float64
 14  LAND_MARKET_VALUE     41809 non-null  float64
dtypes: float64(3), int64(3), object(9)
memory usage: 5.4+ MB

In [33]:
address_match_unmatched.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17951 entries, 0 to 17950
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   listing_id          17951 non-null  int64
 1   close_date          17951 non-null  object
 2   close_price         17307 non-null  float64
 3   unparsed_address    17951 non-null  object
 4   street_number       17797 non-null  object
 5   street_dir_prefix   2844 non-null   object
 6   street_name         17951 non-null  object
 7   city                17939 non-null  object
 8   postal_code         17951 non-null  object
 9   match_key           17951 non-null  object
 10  normalized_address  17951 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 1.5+ MB

In [34]:
listings_with_oms.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 570209 entries, 0 to 570208
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   DEED_LID              570209 non-null  object
 1   SITE_ADDR             569963 non-null  object
 2   SITE_CITY             569971 non-null  object
 3   SITE_ZIP              570209 non-null  float64
 4   DATE_TRANSFER         570209 non-null  datetime64[ns]
 5   VAL_TRANSFER          570209 non-null  float64
 6   SITE_HOUSE_NUMBER     569735 non-null  object
 7   SITE_DIRECTION        40977 non-null   object
 8   SITE_STREET_NAME      569793 non-null  object
 9   SITE_UNIT_NUMBER      173349 non-null  object
 10  SITE_MODE             569433 non-null  object
 11  ASSESSMENT_LID_x      570209 non-null  object
 12  FIPS_CODE             570209 non-null  int64
 13  PARCEL_LID            570209 non-null  object
 14  ID                    570209 non-null  int64
 15  REBNY_ID              570209 non-null  int64
 16  BUILDING_ID           570209 non-null  float64
 17  SOLD_PRICE            570209 non-null  int64
 18  LAST_EVENT            570209 non-null  datetime64[ns]
 19  ADD_ADDRESS_LID       570209 non-null  object
 20  ADD_HOUSE_NUMBER      570209 non-null  object
 21  ADD_PREFIX_DIRECTION  43860 non-null   object
 22  ADD_STREET_NAME       570209 non-null  object
 23  ADD_SUFFIX_DIRECTION  53979 non-null   object
 24  ADD_SUFFIX_TYPE       569935 non-null  object
 25  ASSESSMENT_LID_y      570209 non-null  object
 26  LAND_ASSESSED_VALUE   566984 non-null  float64
 27  LAND_MARKET_VALUE     563257 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(4), object(17)
memory usage: 126.2+ MB

In [35]:
in_range_sample = in_range[['DEED_LID', 'SITE_ADDR', 'VAL_TRANSFER', 'DATE_TRANSFER','SOLD_PRICE', 'LAST_EVENT', 'ADD_HOUSE_NUMBER', 'ADD_STREET_NAME', 'ADD_SUFFIX_TYPE', 'BUILDING_ID', 'ID']]

In [36]:
in_range.groupby('DEED_LID')['ID'].nunique().sort_values()

DEED_LID
040000FVKT01T6CV1HQE4Z     1
0404W2B82OXKZ2CN2OLOAH     1
0404W2A946RFQHYYPMF2MS     1
0404W1WY1FT1Y47A5THLUA     1
0404W1UXO3C1O8VIYM3ZJT     1
                          ..
04063FRJ61C04X9YV0TA07    26
0400A4YCZVP4WXQV3VFEP4    26
0404ZGA31LY1TLWO4I2JA6    26
0405ERRCE2CE02M3FWW280    26
0406SFL527MIPH4S0PIQ2C    26
Name: ID, Length: 26368, dtype: int64

In [43]:
in_range_sample[in_range_sample['DEED_LID'] == '0400A4YCZVP4WXQV3VFEP4']

,DEED_LID,SITE_ADDR,VAL_TRANSFER,DATE_TRANSFER,SOLD_PRICE,LAST_EVENT,ADD_HOUSE_NUMBER,ADD_STREET_NAME,ADD_SUFFIX_TYPE,BUILDING_ID,ID
488530,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,204900,2021-08-16 04:00:00,2869,Spring Rose,Cir,15091523.0,28679149
488531,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,189900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28679148
488532,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,209900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28679150
488533,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,189900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28679158
488534,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,199900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28710571
488535,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,204900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28679145
488536,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,219900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28701328
488537,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,189900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28710516
488538,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,189900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28710570
488539,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,204900,2021-07-09 04:00:00,2869,Spring Rose,Cir,15091523.0,28679162
488540,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,214900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28710506
488541,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,164900,2021-10-09 04:00:00,2869,Spring Rose,Cir,15091523.0,28679152
488542,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,209900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28679142
488543,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,204900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28679146
488544,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,219900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28712249
488545,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,189900,2021-08-17 04:00:00,2869,Spring Rose,Cir,15091523.0,28701500
488546,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,214900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28701454
488547,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,164900,2021-08-23 04:00:00,2869,Spring Rose,Cir,15091523.0,28679151
488548,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,214900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28710537
488549,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,189900,2021-08-18 04:00:00,2869,Spring Rose,Cir,15091523.0,28679155
488550,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,199900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28679159
488551,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,174900,2021-08-24 04:00:00,2869,Spring Rose,Cir,15091523.0,28679157
488552,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,164900,2021-10-15 04:00:00,2869,Spring Rose,Cir,15091523.0,28679208
488554,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,164900,2021-08-10 04:00:00,2869,Spring Rose,Cir,15091523.0,28679194
488555,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,174900,2021-10-15 04:00:00,2869,Spring Rose,Cir,15091523.0,28712067
488556,0400A4YCZVP4WXQV3VFEP4,2869 SPRING ROSE CIR APT 304,220000.0,2021-08-24,199900,2021-08-13 04:00:00,2869,Spring Rose,Cir,15091523.0,28754036

In [38]:
all_closings[~all_closings['ID'].isin(in_range['ID'])]

,ID,REBNY_ID,BUILDING_ID,SOLD_PRICE,LAST_EVENT,ADD_ADDRESS_LID,ADD_HOUSE_NUMBER,ADD_PREFIX_DIRECTION,ADD_STREET_NAME,ADD_SUFFIX_DIRECTION,ADD_SUFFIX_TYPE,PARCEL_LID,ASSESSMENT_LID,LAND_ASSESSED_VALUE,LAND_MARKET_VALUE
1,28746966,20154122,15067430.0,350000,02/10/15 04:00,0601D8A3U10UAB2NKN0QJ0,2525,NaN,U,NaN,Ave,0207HKAJLSPC5NXU5LOQX1,0301BXKKJT7PPZ51USFK52,66790.0,66790.0
2,28689244,20154567,14986634.0,205900,07/10/15 04:00,060018KBCMRCRS1UUZ1ILK,1905,NaN,Lakeside,NaN,Dr,0206J1865O28QTHTMGHY5M,0304D7WNU9KXK7MQEK2B8I,54330.0,54330.0
4,28663888,20154593,15182002.0,103000,02/10/15 04:00,0603H4VI5D36Q0WI686ZAZ,416,N,Spencer,NaN,St,0202NFT9YFGMXF7P1V14WO,0307MLM4SXS4X5LWAXACTC,28640.0,28640.0
5,28700038,20153924,14954545.0,411000,22/10/15 04:00,0603LIOX39R6NJQU61ZB3T,1610,NaN,Dunley,NaN,Ct,02072A0TUWGB81HPN483QQ,0304TFQ8XX8T4QRPYT6IHB,78960.0,78960.0
7,28732663,20153131,NaN,65000,02/11/15 05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46888,28753170,20173541,15200798.0,187000,13/07/17 04:01,0605ZWQNBV1JU0D8JRMI4S,47,NaN,Vandello,NaN,Dr,0201Y52PG56GN7N4C18OAM,030305B9IYJZZHFIDVVGUO,20400.0,20400.0
46889,28753340,20174611,14924375.0,219900,10/01/18 05:00,060277AEPPBQYRZXIUDEN5,1370,NaN,Whipple,NaN,Ct,02071RLQTQ5UTFC03GQBTR,0302LM611EI2VYPDH2Z6SX,44000.0,44000.0
46890,28753166,20175796,15301900.0,2100000,01/11/17 04:00,0601O6PFQ1JWAXH4JR96MC,89,NaN,2Nd,NaN,St,0204ZDC9TBXXQD9GFHXDM6,0302J33NE70MHC79BYC8TE,979700.0,979700.0
46891,28753167,20181783,NaN,90000,01/06/18 04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46893,28753344,20183476,15050108.0,193000,11/07/18 04:00,0600LSLUU57K4DQDKF6USG,233,NaN,Stephans,NaN,St,0200NQYISCZU7F4KIUSB07,0300XWYNI9ED06SYBIA5J7,44100.0,44100.0

In [39]:
vals = all_closings[(~all_closings['ID'].isin(in_range['ID'])) & (all_closings['REBNY_ID'].isin(address_match_unmatched['listing_id']))].groupby('ADD_ADDRESS_LID')['ID'].nunique().sort_values()
vals[vals == 5]

ADD_ADDRESS_LID
0606RQRYVXNPED90ANI07B    5
0607CBCWWIPTMSSCA7ATFC    5
0600CA0I2ZUKAL3F91BCCJ    5
06012NR6SM23L0MILC7H22    5
06055T9NOQVHC7Q2M4OMXO    5
0605MRJNG55CEEYOLNFP16    5
0600W2ID67HD5JXJSEHYOX    5
0606FVFAPGCIWHXFGQ3718    5
060481J88LA2WTLWD9LV5I    5
06067M5R2BVJSEHGZODTPY    5
0603SN10NSJUB9W09Q2V9P    5
060205HXGI2EPC3LMUGY5U    5
0607BFTWWB28FLGAI5Z21F    5
0602KO0YB8QRYFN4Z3RB7J    5
0600141BFA3WP02DEA79UH    5
0603QWT5MG42I670ITANUH    5
0607ERL96129JG00BZULT1    5
0602KBPOC7JHL68NJD68Q5    5
060541PSNGLJEISYYE1P2Z    5
Name: ID, dtype: int64

In [40]:
address_match_unmatched[address_match_unmatched['unparsed_address'] == '2000 James St'].sort_values(by='close_date')

,listing_id,close_date,close_price,unparsed_address,street_number,street_dir_prefix,street_name,city,postal_code,match_key,normalized_address
17838,20132247,2013-08-30,323358.0,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
16678,20142963,2014-09-02,10500.0,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
7043,20154085,2015-07-10,70200.0,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
15774,20151272,2015-10-08,264400.0,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
17015,20155584,2016-10-21,NaN,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
7048,20170806,2017-07-10,NaN,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
16902,20175053,2018-02-16,270000.0,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
17709,20180475,2018-06-01,NaN,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
7009,20184520,2018-10-26,12000.0,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
8710,202000419,2020-10-06,250000.0,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
17301,202004845,2021-02-26,195000.0,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
9253,202102055,2021-04-07,495000.0,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
17539,202200719,2022-07-08,220000.0,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
17055,202201767,2022-10-12,NaN,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
17062,202201765,2022-10-12,NaN,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST
17448,202302031,2023-07-01,NaN,2000 James St,2000,NaN,James St,Coralville,52241,2000 JAMES ST,2000 JAMES ST

In [41]:
all_closings['LAST_EVENT'] = all_closings['LAST_EVENT'].astype('datetime64')

In [42]:
all_closings[all_closings['ADD_ADDRESS_LID'] =='0603SN10NSJUB9W09Q2V9P'].sort_values(by='LAST_EVENT')

,ID,REBNY_ID,BUILDING_ID,SOLD_PRICE,LAST_EVENT,ADD_ADDRESS_LID,ADD_HOUSE_NUMBER,ADD_PREFIX_DIRECTION,ADD_STREET_NAME,ADD_SUFFIX_DIRECTION,ADD_SUFFIX_TYPE,PARCEL_LID,ASSESSMENT_LID,LAND_ASSESSED_VALUE,LAND_MARKET_VALUE
15360,28676793,20140471,15091034.0,84500,2014-02-14 05:00:00,0603SN10NSJUB9W09Q2V9P,2857,NaN,Coral,NaN,Ct,0203O6J83IEDOEYB82EB00,03040BW5G9MG3LTG12F0S9,20000.0,20000.0
20733,28688495,20144092,15091034.0,98000,2014-08-18 04:00:00,0603SN10NSJUB9W09Q2V9P,2857,NaN,Coral,NaN,Ct,0203O6J83IEDOEYB82EB00,03040BW5G9MG3LTG12F0S9,20000.0,20000.0
21102,28688433,20144390,15091034.0,97900,2014-09-15 04:00:00,0603SN10NSJUB9W09Q2V9P,2857,NaN,Coral,NaN,Ct,0203O6J83IEDOEYB82EB00,03040BW5G9MG3LTG12F0S9,20000.0,20000.0
2508,28699424,20156451,15091034.0,103000,2016-05-01 05:00:00,0603SN10NSJUB9W09Q2V9P,2857,NaN,Coral,NaN,Ct,0203O6J83IEDOEYB82EB00,03040BW5G9MG3LTG12F0S9,20000.0,20000.0
14384,28703205,20166342,15091034.0,105500,2017-01-19 05:01:00,0603SN10NSJUB9W09Q2V9P,2857,NaN,Coral,NaN,Ct,0203O6J83IEDOEYB82EB00,03040BW5G9MG3LTG12F0S9,20000.0,20000.0
23158,28713256,20174653,15091034.0,108000,2017-02-10 04:00:00,0603SN10NSJUB9W09Q2V9P,2857,NaN,Coral,NaN,Ct,0203O6J83IEDOEYB82EB00,03040BW5G9MG3LTG12F0S9,20000.0,20000.0
20666,28709071,20173508,15091034.0,102000,2017-07-07 04:01:00,0603SN10NSJUB9W09Q2V9P,2857,NaN,Coral,NaN,Ct,0203O6J83IEDOEYB82EB00,03040BW5G9MG3LTG12F0S9,20000.0,20000.0
31332,28711601,202204471,15091034.0,134500,2022-02-08 04:02:00,0603SN10NSJUB9W09Q2V9P,2857,NaN,Coral,NaN,Ct,0203O6J83IEDOEYB82EB00,03040BW5G9MG3LTG12F0S9,20000.0,20000.0