In [3]:
import pandas as pd
from tqdm.auto import tqdm

In [4]:
deeds_df = pd.read_csv('data/SF_HistoricalTransaction_OH_20240731/Deed_OH.csv', dtype={'USE_CODE_STD_CTGR_LPS': str, 'USE_CODE_STD_LPS': str})
deeds_df.head()

/var/folders/6l/yzmcq93j41zf3wrth_tyl6g80000gn/T/ipykernel_52756/1121714785.py:1: DtypeWarning: Columns (5,6,7,8,9,10,11,14,18,19,20,23,24,26,27,48,58,59,63,64,65,66,67,70,71,73,95,96,98,100,115,116,117,120,146,148,153,154,155) have mixed types. Specify dtype option on import or set low_memory=False.
  deeds_df = pd.read_csv('data/SF_HistoricalTransaction_OH_20240731/Deed_OH.csv', dtype={'USE_CODE_STD_CTGR_LPS': str, 'USE_CODE_STD_LPS': str})

,DEED_LID,FIPS_CODE,FIPS_STATE_CODE,FIPS_MUNI_CODE,SITE_ADDR,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_MODE,SITE_QUADRANT,...,CENSUS_TRACT,CENSUS_BLOCK_GROUP,CENSUS_BLOCK,TRAN_BATCHID,ASSESSMENT_LID,PROPERTY_ID,GEOMETRY_SOURCE,LONGITUDE,LATITUDE,VERSION_ID
0,0402EJD104RRXD42ENZW4V,39001,39,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20230410,NaN,NaN,NaN,NaN,NaN,20240731
1,0401CLRL517SVM1WEF1ULY,39001,39,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20140512,NaN,NaN,NaN,NaN,NaN,20240731
2,0400X62EYXOLOQYYXTN2T9,39001,39,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20140512,NaN,NaN,NaN,NaN,NaN,20240731
3,040431ZBYEIBUV0EFBM0HX,39001,39,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20140512,NaN,NaN,NaN,NaN,NaN,20240731
4,0407MRMSAJVVA2WTSUHRN1,39001,39,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20140512,NaN,NaN,NaN,NaN,NaN,20240731

In [2]:
service_zips = pd.read_csv("data/cincy_service_zips_2024_08_28.csv").dropna()["zip"]
deeds_df = deeds_df[deeds_df["SITE_ZIP"].isin(service_zips)]

NameError: name 'pd' is not defined

In [4]:
desc_fields = [x for x in deeds_df.columns if '_DESC' in x]
desc_fields

['DOC_TYPE_DESC',
 'FULL_PART_CODE_DESC',
 'SELLER_1_ID_CODE_DESC',
 'SELLER_2_ID_CODE_DESC',
 'BUYER_1_ID_CODE_DESC',
 'BUYER_2_ID_CODE_DESC',
 'BUYER_VESTING_CODE_DESC',
 'BUYER_MAIL_ADDR_CODE_DESC',
 'LEGAL_LOT_CODE_DESC',
 'LEGAL_DESC',
 'LEGAL_DESC_CODE',
 'LEGAL_DESC_CODE_DESC',
 'SALE_PRICE_CODE_DESC',
 'LNDR_TYPE_DESC',
 'LOAN_TYPE_1_DESC',
 'INT_RATE_1_DESC',
 'USE_CODE_MUNI_DESC',
 'USE_CODE_STD_DESC_LPS',
 'USE_CODE_STD_CTGR_DESC_LPS',
 'TRAN_USE_CODE_DESC',
 'DEED_TRAN_TYPE_DESC',
 'LOAN_1_TRAN_TYPE_DESC',
 'ADJ_RATE_INDEX_DESC',
 'RATE_CHANGE_FREQ_DESC',
 'MSA_CODE_DESC',
 'CBSA_CODE_DESC']

In [9]:
def find_code_field(s: str):
    tmp = [x for x in deeds_df.columns if s.replace('_DESC','') == x]
    if len(tmp)>0:
        return tmp[0]
    else:
        return None

In [11]:
code_fields = [find_code_field(x) for x in desc_fields]
pd.DataFrame({'code_fields': code_fields, 'desc_fields': desc_fields})

              code_fields                 desc_fields
0                DOC_TYPE               DOC_TYPE_DESC
1          FULL_PART_CODE         FULL_PART_CODE_DESC
2        SELLER_1_ID_CODE       SELLER_1_ID_CODE_DESC
3        SELLER_2_ID_CODE       SELLER_2_ID_CODE_DESC
4         BUYER_1_ID_CODE        BUYER_1_ID_CODE_DESC
5         BUYER_2_ID_CODE        BUYER_2_ID_CODE_DESC
6      BUYER_VESTING_CODE     BUYER_VESTING_CODE_DESC
7    BUYER_MAIL_ADDR_CODE   BUYER_MAIL_ADDR_CODE_DESC
8          LEGAL_LOT_CODE         LEGAL_LOT_CODE_DESC
9                    None                  LEGAL_DESC
10                   None             LEGAL_DESC_CODE
11                   None        LEGAL_DESC_CODE_DESC
12        SALE_PRICE_CODE        SALE_PRICE_CODE_DESC
13              LNDR_TYPE              LNDR_TYPE_DESC
14            LOAN_TYPE_1            LOAN_TYPE_1_DESC
15             INT_RATE_1             INT_RATE_1_DESC
16          USE_CODE_MUNI          USE_CODE_MUNI_DESC
17       USE_CODE_STD_LPS       USE_CODE_STD_DESC_LPS
18  USE_CODE_STD_CTGR_LPS  USE_CODE_STD_CTGR_DESC_LPS
19          TRAN_USE_CODE          TRAN_USE_CODE_DESC
20         DEED_TRAN_TYPE         DEED_TRAN_TYPE_DESC
21       LOAN_1_TRAN_TYPE       LOAN_1_TRAN_TYPE_DESC
22         ADJ_RATE_INDEX         ADJ_RATE_INDEX_DESC
23       RATE_CHANGE_FREQ       RATE_CHANGE_FREQ_DESC
24               MSA_CODE               MSA_CODE_DESC
25              CBSA_CODE              CBSA_CODE_DESC

In [ ]:
deeds_df.groupby(['DOC_TYPE'])['DOC_TYPE_DESC'].nunique()[deeds_df.groupby(['DOC_TYPE'])['DOC_TYPE_DESC'].nunique()!=1]

DOC_TYPE
AS    2
AT    2
CM    2
DJ    2
IT    3
LC    2
PA    2
QC    2
QE    0
RA    2
RL    2
SD    2
SF    0
SH    0
SJ    0
ST    2
SV    2
VL    2
WE    0
Name: DOC_TYPE_DESC, dtype: int64

In [42]:
code_fields[15] = 'INT_RATE_TYPE_1'

In [43]:
from tqdm.auto import tqdm
if 'LEGAL_DESC_CODE' not in code_fields:
    code_fields.append('LEGAL_DESC_CODE')
    desc_fields.append('LEGAL_DESC_CODE_DESC')
retdf = {}
for c_field, d_field in tqdm(zip(code_fields, desc_fields), total=len(desc_fields)):
    if c_field:
        retdf[(c_field, d_field)] = (len(deeds_df.groupby([f'{c_field}'])[f'{d_field}'].nunique()[deeds_df.groupby([f'{c_field}'])[f'{d_field}'].nunique()>1]),
                                     len(deeds_df.groupby([f'{c_field}'])[f'{d_field}'].nunique()[deeds_df.groupby([f'{c_field}'])[f'{d_field}'].nunique()<1]),
                                     deeds_df[f'{c_field}'].nunique())
    else:
        print(d_field)

  0%|          | 0/27 [00:00<?, ?it/s]

LEGAL_DESC
LEGAL_DESC_CODE
LEGAL_DESC_CODE_DESC

In [44]:
retdf

{('DOC_TYPE', 'DOC_TYPE_DESC'): (14, 5, 81),
 ('FULL_PART_CODE', 'FULL_PART_CODE_DESC'): (0, 0, 238),
 ('SELLER_1_ID_CODE', 'SELLER_1_ID_CODE_DESC'): (3, 6, 98),
 ('SELLER_2_ID_CODE', 'SELLER_2_ID_CODE_DESC'): (0, 0, 0),
 ('BUYER_1_ID_CODE', 'BUYER_1_ID_CODE_DESC'): (3, 7, 98),
 ('BUYER_2_ID_CODE', 'BUYER_2_ID_CODE_DESC'): (3, 4, 95),
 ('BUYER_VESTING_CODE', 'BUYER_VESTING_CODE_DESC'): (0, 18, 47),
 ('BUYER_MAIL_ADDR_CODE', 'BUYER_MAIL_ADDR_CODE_DESC'): (0, 0, 14),
 ('LEGAL_LOT_CODE', 'LEGAL_LOT_CODE_DESC'): (0, 26, 29),
 ('SALE_PRICE_CODE', 'SALE_PRICE_CODE_DESC'): (0, 2, 46),
 ('LNDR_TYPE', 'LNDR_TYPE_DESC'): (0, 2, 20),
 ('LOAN_TYPE_1', 'LOAN_TYPE_1_DESC'): (0, 0, 34),
 ('INT_RATE_TYPE_1', 'INT_RATE_1_DESC'): (0, 1, 8),
 ('USE_CODE_MUNI', 'USE_CODE_MUNI_DESC'): (701, 0, 1343),
 ('USE_CODE_STD_LPS', 'USE_CODE_STD_DESC_LPS'): (27, 28, 310),
 ('USE_CODE_STD_CTGR_LPS', 'USE_CODE_STD_CTGR_DESC_LPS'): (0, 0, 10),
 ('TRAN_USE_CODE', 'TRAN_USE_CODE_DESC'): (0, 0, 22),
 ('DEED_TRAN_TYPE', 'DEED_TRAN_TYPE_DESC'): (0, 0, 6),
 ('LOAN_1_TRAN_TYPE', 'LOAN_1_TRAN_TYPE_DESC'): (0, 0, 0),
 ('ADJ_RATE_INDEX', 'ADJ_RATE_INDEX_DESC'): (0, 0, 0),
 ('RATE_CHANGE_FREQ', 'RATE_CHANGE_FREQ_DESC'): (0, 0, 0),
 ('MSA_CODE', 'MSA_CODE_DESC'): (0, 0, 17),
 ('CBSA_CODE', 'CBSA_CODE_DESC'): (0, 0, 47),
 ('LEGAL_DESC_CODE', 'LEGAL_DESC_CODE_DESC'): (0, 0, 0)}

In [45]:
retdf = pd.DataFrame(retdf).transpose()
retdf.columns = ['many_lookups', 'no_lookups', 'total_codes']
retdf.head()

                                        many_lookups  no_lookups  total_codes
DOC_TYPE         DOC_TYPE_DESC                    14           5           81
FULL_PART_CODE   FULL_PART_CODE_DESC               0           0          238
SELLER_1_ID_CODE SELLER_1_ID_CODE_DESC             3           6           98
SELLER_2_ID_CODE SELLER_2_ID_CODE_DESC             0           0            0
BUYER_1_ID_CODE  BUYER_1_ID_CODE_DESC              3           7           98

In [46]:
retdf.to_clipboard()

In [39]:
deeds_df[~pd.isna(deeds_df['INT_RATE_TYPE_1'])]['INT_RATE_TYPE_1']

213         FIX
214         FIX
233         FIX
244         FIX
248         FIX
           ...
14426302    VAR
14426303    VAR
14426317    VAR
14426325    FIX
14426350    FIX
Name: INT_RATE_TYPE_1, Length: 1052114, dtype: object

In [3]:
deeds_df[~pd.isna(deeds_df['SELLER_MAIL_ADDR'])]

Empty DataFrame
Columns: [DEED_LID, FIPS_CODE, FIPS_STATE_CODE, FIPS_MUNI_CODE, SITE_ADDR, SITE_HOUSE_NUMBER, SITE_DIRECTION, SITE_STREET_NAME, SITE_MODE, SITE_QUADRANT, SITE_UNIT_PREFIX, SITE_UNIT_NUMBER, SITE_CITY, SITE_STATE, SITE_ZIP, SITE_PLUS_4, SITE_CARRIER_CODE, DATE_TRANSFER, RCDRS_BOOK, RCDRS_PAGE, DOC_NBR, DOC_TYPE, DOC_TYPE_DESC, TAXAPN, TAXAPN_UNF, MULTI_TAXAPN_FLAG, FULL_PART_CODE, FULL_PART_CODE_DESC, SELLER, SELLER_1_FIRST_MID, SELLER_1_LAST, SELLER_1_ID_CODE, SELLER_1_ID_CODE_DESC, SELLER_2_FIRST_MID, SELLER_2_LAST, SELLER_2_ID_CODE, SELLER_2_ID_CODE_DESC, BUYER, BUYER_1_FIRST_MID, BUYER_1_LAST, BUYER_1_ID_CODE, BUYER_1_ID_CODE_DESC, BUYER_2_FIRST_MID, BUYER_2_LAST, BUYER_2_ID_CODE, BUYER_2_ID_CODE_DESC, BUYER_VESTING_CODE, BUYER_VESTING_CODE_DESC, TD_DOC_NUMBER_1, TITLE_COMPANY_NAME, BUYER_MAIL_ADDR, BUYER_MAIL_UNIT_PREFIX, BUYER_MAIL_UNIT_NUMBER, BUYER_MAIL_CARE_OF_NAME, BUYER_MAIL_ADDR_CODE, BUYER_MAIL_ADDR_CODE_DESC, BUYER_MAIL_CITY, BUYER_MAIL_STATE, BUYER_MAIL_ZIP, BUYER_MAIL_PLUS_4, LEGAL_LOT_CODE, LEGAL_LOT_CODE_DESC, LEGAL_LOT_NUMBER, LEGAL_BLOCK, LEGAL_SECTION, LEGAL_DISTRICT, LEGAL_LAND_LOT, LEGAL_UNIT, LEGAL_CTY_TWP_MUNI, LEGAL_SUBDIVISION, LEGAL_PHASE, LEGAL_TRACT, LEGAL_DESC, LEGAL_SEC_TWP_RNG, LEGAL_DESC_CODE, LEGAL_DESC_CODE_DESC, RCDRS_MAP_REF, DATE_FILING, VAL_TRANSFER, SALE_PRICE_CODE, SALE_PRICE_CODE_DESC, CTY_TRANSF_TAX, CNT_TRANSF_TAX, TOT_TRANSF_TAX, LNDR_NAME, LNDR_TYPE, LNDR_TYPE_DESC, LOAN_VALUE_1, LOAN_TYPE_1, LOAN_TYPE_1_DESC, INT_RATE_TYPE_1, INT_RATE_1_DESC, INT_RATE_1, LOAN_DUE_DATE_1, LOAN_VALUE_2, USE_CODE_MUNI, USE_CODE_MUNI_DESC, USE_CODE_STD_LPS, USE_CODE_STD_DESC_LPS, USE_CODE_STD_CTGR_LPS, ...]
Index: []

[0 rows x 159 columns]

In [4]:
len(deeds_df)

14426392

In [6]:
doc_type = deeds_df[['DEED_LID', 'DOC_TYPE', 'DOC_TYPE_DESC']]

In [9]:
doc_type.groupby('DOC_TYPE_DESC')['DOC_TYPE'].nunique().sort_values()

DOC_TYPE_DESC
ADMINISTRATORâ€™S DEED                                                                                    1
QUIT CLAIM DEED                                                                                         1
PUBLIC ACTION - COMMON IN FLORIDA (CLERKS TAX DEED OR TAX DEEDS). ALSO WHEN PROPERTY SOLD FOR TAXES.    1
PUBLIC ACTION - COMMON IN FLORIDA (CLERKS TAX DEED                                                      1
PERSONAL REPRESENTATIVES DEED                                                                           1
                                                                                                       ..
COMMISSIONERâ€™S DEED - IN NORTH CAROLINA USED IN PROBATE-RELATED TRANSFERS.Â Â  IN HAWAII USED IN FOREC    1
COMMISSIONERâ€™S DEED - IN NORTH CAROLINA USED IN PR                                                      1
COMMISSIONERS ASSIGNMENT OF LEASE (HAWAII)                                                              1
CERTIFICATE OF TRANSFER                                                                                 1
WARRANTY DEED                                                                                           1
Name: DOC_TYPE, Length: 91, dtype: int64

In [11]:
doc_type[(~pd.isna(doc_type['DOC_TYPE'])) & (pd.isna(doc_type['DOC_TYPE_DESC']))]['DOC_TYPE'].unique()

array(['DT', 'QA', 'SH', 'QE', 'SF', 'WE', 'SJ'], dtype=object)

In [12]:
deeds_df[(~pd.isna(deeds_df['SELLER_1_ID_CODE'])) & (pd.isna(deeds_df['SELLER_1_ID_CODE_DESC']))]['DOC_TYPE'].unique()

array(['DJ', 'IT', 'CS', 'QC', 'WD', 'RR', 'DE', 'SV', 'SD', 'DD', 'LD',
       'CR', 'LW', 'FD', 'BD', 'AF', 'TD', 'SW', 'DL', 'AD', 'CP', 'EX',
       'RC', 'LE', 'DT', 'OT', 'LA', 'FC', 'BS', 'CD', 'PR', 'AG', 'CT',
       'AS', 'JT', 'DG', 'GD', 'GR', 'DC', nan, 'LT', 'GF', 'CM', 'ID',
       'DB', 'MD', 'VL', 'DS', 'PA', 'CN', 'LH', 'CH', 'SA', 'RD', 'PD',
       'CO', 'RA', 'EC'], dtype=object)

In [15]:
deeds_df.groupby('SELLER_1_ID_CODE_DESC')['SELLER_1_ID_CODE'].nunique().sort_values()

SELLER_1_ID_CODE_DESC
ADMINISTRATOR               1
RECEIVER                    1
PLAINTIFF                   1
PERSONAL REPRESENTATIVE     1
PARTNERSHIP                 1
                           ..
FAMILY LIVING TRUST         1
EXECUTOR / ADMINISTRATOR    1
EXECUTOR                    1
GUARDIAN/CUSTODIAN          1
WIFE AND WIFE               1
Name: SELLER_1_ID_CODE, Length: 95, dtype: int64

In [16]:
deeds_df.groupby('LOAN_TYPE_1_DESC')['LOAN_TYPE_1'].nunique().sort_values()

LOAN_TYPE_1_DESC
2ND MORTGAGE MADE TO COVER DOWN PAYMENT      1
UNKNOWN                                      1
UNDEFINED / MULTIPLE AMOUNTS                 1
TRADE                                        1
STATE VETERANS                               1
STAND ALONE SECOND                           1
STAND ALONE REFI                             1
STAND ALONE FIRST                            1
SELLER TAKE-BACK                             1
SBA PARTICIPATION TRUST DEED                 1
REVERSE MORTGAGE                             1
PURCHASE MONEY MORTGAGE                      1
NON PURCHASE MONEY MORTGAGE                  1
NEW CONVENTIONAL                             1
NEGATIVE AMORTIZATION                        1
MODIFICATION                                 1
LOAN AMOUNT $10-99 BILLION                   1
LOAN AMOUNT $1-9 BILLION                     1
AMOUNT KEYED IS AN AGGREGATE AMOUNT          1
ARM                                          1
ASSUMPTION                                   1
BALLOON                                      1
BUILDING OR CONSTRUCTION LOAN                1
CASH                                         1
USDA                                         1
CLOSE-END MORTAGE                            1
CREDIT LINE                                  1
FANNIE MAE/FREDDIE MAC                       1
FARMERS HOME ADMINISTRATION                  1
FHA                                          1
FUTURE ADVANCE CLAUSE / OPEN END MORTGAGE    1
LAND CONTRACT                                1
COMMERCIAL                                   1
VA                                           1
Name: LOAN_TYPE_1, dtype: int64

In [22]:
len(deeds_df[(~pd.isna(deeds_df['LOAN_TYPE_1'])) & (pd.isna(deeds_df['LOAN_TYPE_1_DESC']))])

17477

In [25]:
deeds_df[(~pd.isna(deeds_df['LOAN_TYPE_1'])) & (pd.isna(deeds_df['LOAN_TYPE_1_DESC']))]['LOAN_TYPE_1'].unique()

array(['E', '5', '4', '8', '6', '7'], dtype=object)

In [23]:
len(deeds_df)

14426392

In [19]:
deeds_df.groupby('DOC_TYPE')['DOC_TYPE_DESC'].nunique().sort_values()

DOC_TYPE
WE    0
QE    0
SJ    0
SH    0
SF    0
     ..
RL    2
RA    2
CM    2
QC    2
IT    3
Name: DOC_TYPE_DESC, Length: 81, dtype: int64

In [20]:
deeds_df[deeds_df['DOC_TYPE'] == 'IT']['DOC_TYPE_DESC'].unique()

array(['INTRAFAMILY TRANSFER - TRANSACTION IS BETWEEN RELA',
       'INTRAFAMILY TRANSFER & DISSOLUTION - DUE TO DISSOLUTION OF MARRIAGE, REFINANCING OR THE DOCUMENT REP',
       'INTRAFAMILY TRANSFER & DISSOLUTION - DUE TO DISSOL'], dtype=object)

In [1]:
deeds_df = pd.read_csv('data/SF_HistoricalTransaction_IN_20240731/Deed_IN.csv')

NameError: name 'pd' is not defined

In [4]:
deeds_df['MARKET_SALE'].unique()

array([nan, 'Y'], dtype=object)

In [5]:
deeds_df.head()

,DEED_LID,FIPS_CODE,FIPS_STATE_CODE,FIPS_MUNI_CODE,SITE_ADDR,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_MODE,SITE_QUADRANT,...,CENSUS_TRACT,CENSUS_BLOCK_GROUP,CENSUS_BLOCK,TRAN_BATCHID,ASSESSMENT_LID,PROPERTY_ID,GEOMETRY_SOURCE,LONGITUDE,LATITUDE,VERSION_ID
0,0402EJD104RRXD42ENZW4V,39001,39,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20230410,NaN,NaN,NaN,NaN,NaN,20240731
1,0401CLRL517SVM1WEF1ULY,39001,39,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20140512,NaN,NaN,NaN,NaN,NaN,20240731
2,0400X62EYXOLOQYYXTN2T9,39001,39,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20140512,NaN,NaN,NaN,NaN,NaN,20240731
3,040431ZBYEIBUV0EFBM0HX,39001,39,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20140512,NaN,NaN,NaN,NaN,NaN,20240731
4,0407MRMSAJVVA2WTSUHRN1,39001,39,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20140512,NaN,NaN,NaN,NaN,NaN,20240731

In [13]:
from datetime import date

In [15]:
deeds_df[(~pd.isna(deeds_df['SITE_ADDR']))&(deeds_df['DATE_FILING']>='2023')][['DEED_LID', 'SITE_ADDR', 'SITE_ZIP', 'DATE_FILING']]

,DEED_LID,SITE_ADDR,SITE_ZIP,DATE_FILING
3297,04007FR0XFB610AQI55QS7,TOWNSHIP ROAD 581,44880.0,2023-01-19 00:00:00
3300,04076NNUWZ341XZC374ENR,TOWNSHIP ROAD 539,NaN,2023-02-16 00:00:00
3325,0407NPRVM7QYSTLAENR9AL,TOWNSHIP ROAD 75,44840.0,2023-01-25 00:00:00
3350,0406DRRGUSDXV0JI5EYBNB,44 TOWNSHIP ROAD 1281,44851.0,2023-04-15 00:00:00
3368,0400EX1UOOAKK2KVGXNW1W,CO ROAD 900,44287.0,2023-03-01 00:00:00
...,...,...,...,...
14426382,040708UXXT21SMAGU21V2G,1846 WINDY RIDGE RD,45784.0,2024-05-28 00:00:00
14426386,04071ZJ3UU60ZR92MEXMUY,HENRY WOOD CO LINE RD,43516.0,2023-12-28 00:00:00
14426388,0402MD7BP7WNLBHO8C8MTV,PVT DR 4442 CO RD 2,45619.0,2023-06-17 00:00:00
14426390,0401BLGBD1S86JV6JHZU45,CASTALIA RD,43420.0,2023-01-09 00:00:00
14426391,040441E7PLS84ERQ44B91G,5105 KINSMAN RD,44062.0,2023-06-06 00:00:00

In [18]:
deeds_df.dropna(subset='SITE_ADDR', inplace=True)

In [25]:
deeds_df[deeds_df['SITE_ADDR'].str.contains('7213 LONGFIELD')][['DEED_LID', 'SITE_ADDR', 'SITE_ZIP', 'DATE_FILING', 'DATE_TRANSFER']]

,DEED_LID,SITE_ADDR,SITE_ZIP,DATE_FILING,DATE_TRANSFER
6648632,0407H9DTW5YO6Y8G2R7P52,7213 LONGFIELD DR,45243.0,2013-09-19 00:00:00,2013-10-14 00:00:00
6648653,0404FTFP0VA05F9BAYDCKZ,7213 LONGFIELD DR,45243.0,2016-09-14 00:00:00,2016-09-22 00:00:00
6648654,0406BOFQU2A6XSRVKHGB8I,7213 LONGFIELD DR,45243.0,2013-09-18 00:00:00,2013-10-08 00:00:00

In [27]:
deeds_df.loc[6648653][['DEED_LID', 'SITE_ADDR', 'SITE_ZIP', 'DATE_FILING', 'DATE_TRANSFER']]

DEED_LID         0404FTFP0VA05F9BAYDCKZ
SITE_ADDR             7213 LONGFIELD DR
SITE_ZIP                        45243.0
DATE_FILING         2016-09-14 00:00:00
DATE_TRANSFER       2016-09-22 00:00:00
Name: 6648653, dtype: object

In [32]:
deeds_df[deeds_df['DEED_LID']=='0401UZXVZAPDN3QKRS3SOM'][['DEED_LID', 'SITE_ADDR', 'SITE_ZIP', 'DATE_FILING', 'DATE_TRANSFER']]

,DEED_LID,SITE_ADDR,SITE_ZIP,DATE_FILING,DATE_TRANSFER
7755125,0401UZXVZAPDN3QKRS3SOM,911 MATTHEWS DR,45215.0,2006-07-25 00:00:00,2006-08-03 00:00:00

In [3]:
mapping = pd.read_csv('data/Updated Cincy Lightbox Deed Mapping - Mapping.csv')
mapping = mapping[mapping['Perchwell Attribute']!='-']
lookup_check = mapping[~pd.isna(mapping['Lookup Name'])]
lookup_check.head()

,Lightbox Field,Description,Attribute Type,Perchwell Attribute,DB Data Type,Custom Mapping Logic,String formatting,display_string,configuration_type,formatter,validator,Comments & Questions,Sample Values,% Pop,Data Type from Sample,Lookup Name
38,BUYER_1_ID_CODE,Code to identify the nature of each grantee ke...,localized_field,buyer_type,String,NaN,NaN,Buyer type,single_lookup,single_select,presence?,NaN,"['HO', 'MI', 'WA', 'MP', 'GN', 'GP', 'TR', 'LW...",86.92%,String,ID Code
39,BUYER_VESTING_CODE,Code indicating how the buyers took title of t...,localized_field,buyer_vesting,String,NaN,NaN,Buyer vesting,single_lookup,single_select,presence?,NaN,"['EU', 'JL', 'IL', 'CP', 'SV', 'CR', 'FL', 'TE...",21.19%,String,Buyer/Borrower Vesting Code
40,DEED_TRAN_TYPE,Deed Transaction Type,localized_field,deed_transaction_type_description,Integer,NaN,NaN,Deed transaction type,single_lookup,single_select,presence?,NaN,"[3, 2, 2, 8, 3, 9, 6, 6, 9, 2, 1, 8, 6, 1, 2, ...",100.00%,Integer,Deed Transaction Type
44,DOC_TYPE,Code indicating the description of the documen...,localized_field,document_type,String,NaN,NaN,Document type,single_lookup,single_select,presence?,NaN,"['LH', 'WD', 'IT', 'FC', 'CM', 'LA', 'AR', 'QC...",97.53%,String,Document Type Code
53,LEGAL_LOT_CODE,Identifies properties which include more than ...,localized_field,legal_lot_category,String,NaN,NaN,Legal lot category,single_lookup,single_select,presence?,NaN,"['0', '0', 'MP', 'nan', 'MP', 'nan', 'nan', 'S...",16.25%,String,Legal: Lot Code

In [30]:
lookups = pd.read_csv('data/Updated Cincy Lightbox Deed Mapping - Code Mappings.csv')#, dtype={'Code': str})
deeds_lookups = lookups[(lookups['Data Type (A=Assessor, D=Deed, S=Mortgage, N=NOD)'].str.contains('D')) | (lookups['Field Name']=='Standardized Land Use')][['Field Name', 'Code', 'Code Description', 'Display Code Description']]
#deeds_lookups['Code Description'] = lookups[lookups['Data Type (A=Assessor, D=Deed, S=Mortgage, N=NOD)'].str.contains('D')]['Display Code Description'].combine_first(lookups[lookups['Data Type (A=Assessor, D=Deed, S=Mortgage, N=NOD)'].str.contains('D')]['Code Description'])
deeds_lookups.head()

,Field Name,Code,Code Description,Display Code Description
0,1-4 Family Rider,Y,Indicates a 1-4 Family Rider is recorded concu...,NaN
1,Adjustable Rate Index,SOFR180DAY,Secured Overnight Financing Rate (SOFR) Averag...,SOFR Average 180-Day
2,Adjustable Rate Index,SOFR30DAY,Secured Overnight Financing Rate (SOFR) Averag...,SOFR Average 30-Day
3,Adjustable Rate Index,SOFR90DAY,Secured Overnight Financing Rate (SOFR) Averag...,SOFR Average 90-Day
4,Adjustable Rate Index,5YRFHL,Federal Home Loans Bank of New Yorkâ€™s 5-Year I...,NaN

In [31]:
retdict = {}
for lb, lkup in tqdm(zip(lookup_check['Lightbox Field'], lookup_check['Lookup Name']), total=len(lookup_check)):
    tmp = deeds_df.groupby(lb)['DEED_LID'].count().to_frame(name='deed_count').reset_index()
    tmp[lb] = tmp[lb].astype(str)
    tmp = tmp.merge(deeds_lookups[deeds_lookups['Field Name'] == lkup], how='left', left_on=lb, right_on='Code')
    retdict[lb] = tmp
    #print(tmp[pd.isna(tmp['Code Description'])])

  0%|          | 0/15 [00:00<?, ?it/s]

In [32]:
retdf = pd.DataFrame()
for i in retdict:
    tmp = retdict[i]
    tmp['Lightbox Field Name'] = [tmp.columns[0]]*len(tmp)
    tmp['% populated'] = tmp['deed_count']/len(deeds_df)
    tmp.columns = ['Lightbox Field Value', 'deed_count', 'Lookup Field Name', 'Code', 'Code Description', 'Display Code Description', 'Lightbox Field Name', '% populated']
    retdf = pd.concat([retdf, tmp[['Lightbox Field Name','Lightbox Field Value', 'deed_count', '% populated', 'Lookup Field Name', 'Code Description', 'Display Code Description']]])

retdf.head()

,Lightbox Field Name,Lightbox Field Value,deed_count,% populated,Lookup Field Name,Code Description,Display Code Description
0,BUYER_1_ID_CODE,AB,119,0.000008,ID Code,Alternate Beneficiary,NaN
1,BUYER_1_ID_CODE,AC,3782,0.000262,ID Code,Guardian/Custodian,NaN
2,BUYER_1_ID_CODE,AD,795,0.000055,ID Code,Administrator,NaN
3,BUYER_1_ID_CODE,AE,2535,0.000176,ID Code,Assignee (Buyer/Borrower only),NaN
4,BUYER_1_ID_CODE,AF,21477,0.001489,ID Code,Name derived from Affidavit,NaN

In [33]:
retdict['USE_CODE_STD_CTGR_LPS']

,Lightbox Field Value,deed_count,Lookup Field Name,Code,Code Description,Display Code Description,Lightbox Field Name,% populated
0,0,39608,NaN,NaN,NaN,NaN,USE_CODE_STD_CTGR_LPS,0.002746
1,1,10777898,NaN,NaN,NaN,NaN,USE_CODE_STD_CTGR_LPS,0.747096
2,2,324682,NaN,NaN,NaN,NaN,USE_CODE_STD_CTGR_LPS,0.022506
3,3,86864,NaN,NaN,NaN,NaN,USE_CODE_STD_CTGR_LPS,0.006021
4,4,11816,NaN,NaN,NaN,NaN,USE_CODE_STD_CTGR_LPS,0.000819
5,5,72950,NaN,NaN,NaN,NaN,USE_CODE_STD_CTGR_LPS,0.005057
6,6,11371,NaN,NaN,NaN,NaN,USE_CODE_STD_CTGR_LPS,0.000788
7,7,322762,NaN,NaN,NaN,NaN,USE_CODE_STD_CTGR_LPS,0.022373
8,8,1552635,NaN,NaN,NaN,NaN,USE_CODE_STD_CTGR_LPS,0.107625
9,9,163604,NaN,NaN,NaN,NaN,USE_CODE_STD_CTGR_LPS,0.011341

In [34]:
retdict['USE_CODE_STD_LPS'][~pd.isna(retdict['USE_CODE_STD_LPS']['Code'])]

Empty DataFrame
Columns: [Lightbox Field Value, deed_count, Lookup Field Name, Code, Code Description, Display Code Description, Lightbox Field Name, % populated]
Index: []

In [35]:
retdf.to_clipboard(index=False)

In [9]:
def report_writer(dfs:dict, report_name:str):
    """Creates an excel report using a dictionary of dfs.

    Args:
        dfs (dict): Data
        report_name (str): Name of file.
    """
    writer = pd.ExcelWriter(report_name, engine='xlsxwriter')
    workbook = writer.book
    format = workbook.add_format()
    format.set_align('center')
    for sheetname, df in dfs.items():
        df.to_excel(writer, sheet_name=sheetname, index=False)
        worksheet = writer.sheets[sheetname]
        for idx, col in enumerate(df):
            series =df[col]
            max_len = max((
                series.astype(str).map(len).max(),
                len(str(series.name))
            ))+1
            worksheet.set_column(idx, idx, max_len, format)

    writer.close()

In [10]:
report_writer(retdict, 'data/not_in_code_mappings.xlsx')

In [57]:
deeds_df[(~pd.isna(deeds_df['DOC_TYPE'])) & (pd.isna(deeds_df['DOC_TYPE_DESC']))]['DOC_TYPE'].unique()

array(['DT', 'QA', 'SH', 'QE', 'SF', 'WE', 'SJ'], dtype=object)

In [58]:
deeds_df[deeds_df['DOC_TYPE']=='SH']

,DEED_LID,FIPS_CODE,FIPS_STATE_CODE,FIPS_MUNI_CODE,SITE_ADDR,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_MODE,SITE_QUADRANT,...,CENSUS_TRACT,CENSUS_BLOCK_GROUP,CENSUS_BLOCK,TRAN_BATCHID,ASSESSMENT_LID,PROPERTY_ID,GEOMETRY_SOURCE,LONGITUDE,LATITUDE,VERSION_ID
2765790,04000NYDOAA2KT7WQ5ZK3I,39027,39,27,6 PETERSON PL,6,NaN,PETERSON,PL,NaN,...,964700.0,4.0,4003.0,20140630,0306O30S9GLHQ3F5WK4IJN,390270000161,Parcels,-83.842462,39.444538,20240731
2817846,0406C2V8FVL7G8809WIZ6A,39027,39,27,573 FALCON HILL WAY,573,NaN,FALCON HILL,WAY,NaN,...,964400.0,2.0,2103.0,20140630,0302Z6CYKLWAYNP13PX0W7,390270007725,Parcels,-83.948822,39.543465,20240731
2833721,0407HY7EPILN4R9D57WRZS,39027,39,27,501 ELM ST # 1-2,501,NaN,ELM,ST,NaN,...,965000.0,2.0,2003.0,20140630,0300FJGQLN055JDXJQ5O3I,390270009938,Parcels,-83.810893,39.322803,20240731
2833931,0400UWN8LXFXGULOEV85GC,39027,39,27,108 MAIN ST,108,NaN,MAIN,ST,NaN,...,965000.0,2.0,2003.0,20140630,0302BWCZHLVJ0SVAHH5SYQ,390270009964,Parcels,-83.810910,39.323456,20240731
2868799,0402HMUKP11C4YYEC8XMLT,39027,39,27,303 N WRIGHT ST,303,N,WRIGHT,ST,NaN,...,964900.0,2.0,2026.0,20140630,0300LO0IDCIME4Q5ICH3KO,390270015096,Parcels,-83.989436,39.295277,20240731
2872908,04053T1BQKJUBD1BCJIQH1,39027,39,27,319 E MAIN ST,319,E,MAIN,ST,NaN,...,964900.0,2.0,2017.0,20140630,0304ON6LYVFX1O2BV8Q8R1,390270015701,Parcels,-83.985105,39.295751,20240731
2878257,0405G4QY1DVIQ4IITXO9VW,39027,39,27,7404 FAIRGROUND RD,7404,NaN,FAIRGROUND,RD,NaN,...,964900.0,3.0,3022.0,20140630,0304F7JYDPE883ZZHLW4OS,390270016314,Parcels,-83.972380,39.284341,20240731
2897089,0406IDEZ0I1BU1IWJV88C6,39027,39,27,883 VENTURA DR,883,NaN,VENTURA,DR,NaN,...,964400.0,2.0,2125.0,20140630,03001XQAYTY63H03ZXKXNC,390270019650,Parcels,-83.846628,39.505070,20240731
2914573,0401JQAJN2AHVSUIIPX0YB,39027,39,27,151 MICHIGAN AVE,151,NaN,MICHIGAN,AVE,NaN,...,964502.0,1.0,1007.0,20140630,0300LM54H043HHH72DS2VD,390270021966,Parcels,-83.830294,39.457758,20240731
2920581,0403UG366WZCYKOBGMZNFF,39027,39,27,712 W LOCUST ST,712,W,LOCUST,ST,NaN,...,964600.0,2.0,2003.0,20140630,0306XURSA2BIE2OOQBUOL2,390270022803,Parcels,-83.841108,39.446771,20240731

In [43]:
deeds_lookups[deeds_lookups['Code'] == 'SH']

Empty DataFrame
Columns: [Field Name, Code, Code Description, Display Code Description]
Index: []

In [62]:
deeds_df.groupby('DOC_TYPE')['DEED_LID'].count()['SH']

np.int64(10)

In [48]:
deeds_df[(deeds_df['USE_CODE_STD_LPS'] == '0000') & (~pd.isna(deeds_df['USE_CODE_STD_DESC_LPS']))][['SITE_ADDR', 'USE_CODE_STD_DESC_LPS','SITE_ZIP']]

Empty DataFrame
Columns: [SITE_ADDR, USE_CODE_STD_DESC_LPS, SITE_ZIP]
Index: []

In [49]:
deeds_df[(deeds_df['DEED_TRAN_TYPE'] == '1') & (~pd.isna(deeds_df['DEED_TRAN_TYPE_DESC']))][['SITE_ADDR', 'DEED_TRAN_TYPE_DESC','SITE_ZIP']]

Empty DataFrame
Columns: [SITE_ADDR, DEED_TRAN_TYPE_DESC, SITE_ZIP]
Index: []

:

In [ ]:
deeds_df['USE_CODE_STD_DESC_LPS']

In [41]:
deeds_df['USE_CODE_STD_LPS'].unique()

array([nan, '7001', '8001', '1001', '1000', '3007', '8002', '0000',
       '2001', '7000', '2009', '2000', '8008', '8000', '1015', '2023',
       '9110', '1006', '9203', '5001', '7009', '9101', '2020', '2024',
       '1101', '2012', '1104', '2013', '8003', '1100', '5000', '2033',
       '3003', '9211', '7016', '1016', '7004', '4007', '9210', '2031',
       '3000', '7008', '1102', '3006', '1004', '2035', '5003', '4028',
       '9212', '1112', '1109', '0015', '2044', '3008', '5002', '0010',
       '2025', '9112', '5018', '2043', '4020', '2036', '3004', '2016',
       '4004', '2048', '6004', '2008', '2004', '8502', '2014', '2011',
       '1106', '2003', '2034', '8004', '2006', '0027', '9000', '5019',
       '1999', '2026', '1002', '6015', '1110', '9217', '9209', '1009',
       '54,0', '0142', '92-0', '0106', '20', '96,0', ', 00', '0229',
       '0175', '89', '0003', '0017', '68,0', '0083', '10,0', '45,0',
       '0001', ',000', '04', '-001', '95,6', '26,0', '0268', '44,',
       '0-00', '60,0', '000', '83,', '16,0', '4', '0080', '136', '7, 2',
       '371', '9', '11,0', '148,', '36,0', '039,', '510-', '1-00', '53,0',
       '0005', '060', '78-0', '35,0', '0107', '0053', '0100', '48,0',
       '180,', '0006', '065,', '07', '0077', '31,0', '0-01', '3', '05',
       '21,0', '82,0', '0089', '0019', '42-0', '52,0', '0399', '0002',
       '2,00', '0011', '63', '19-0', '3-00', '0018', '-000', '172', '8',
       ',', '21,', '0244', '02,0', '0256', '0311', '068,', '47,0', '1',
       '0004', '5, 0', '015-', '0146', '0518', '0007', '0078', '0072',
       '98,0', '00,0', '0020', '0215', '0060', '0183', '848', '046', '7',
       '0170', '32', '01', '0130', '0645', '12,', '12', '0084', '0102',
       '0986', '0878', '0177', '58', '0158', '11', '34,0', '27-0', '0121',
       '0013', '0047', '66,0', '01,0', '6', '42', '0022', '0207', '83',
       '0519', '67,0', '67', '302', '64', '25', '194,', '0034', '055,',
       '0028', '86,0', '0269', '0030', '089,', '0181', '4-00', '51',
       '0052', '98', '0705', '00 &', '5,00', '88,0', '212,', '172,',
       '2-11', '0439', '0481', '62,0', '32,0', '118', '29 T', '039',
       '76,0', '0009', '9216', '2007', '4018', '4031', '9106', '6014',
       '7005', '6008', '7017', '2037', '5007', '9103', '9108', '6019',
       '7002', '9202', '6000', '5005', '4022', '9105', '2005', '4013',
       '9213', '6502', '39', '18,0', '71,0', '96', '150', '6,00', '14,0',
       '07,0', '03,', '2', '01,', '0388', '84,0', '138', '0033', '88',
       '29,0', '0063', '61', '0176', '0021', '33,0', '0113', '054-', '00',
       '14', '90,0', '75,0', '086,', '0056', '74,0', '612', '24', '172T',
       '0341', '16', '05-0', '0101', '13,0', '091', '0036', '003-',
       '0240', '3,00', '46,0', '12,0', '37,0', '0443', '& 00', '19,',
       '0090', '0087', '2028', '0628', '283,', '41,0', '0118', '62',
       '141', '0032', '0105', '15,0', '0219', '42&0', '68', '0126',
       '6-01', '0065', '0120', '00-0', '0045', '50', '85', '40', '0111',
       'THR', '2029', '1103', '1111', '1114', '2040', '0026', '6510',
       '7013', '9100', '2042', '6508', '3010', '9200', '1108', '2051',
       '4002', '2021', '2045', '9208', '6022', '2018', '3005', '6007',
       '9207', '2041', '0016', '5006', '4-38', '122-', '6003', '0079',
       '0038', '8-00', '41', '3-39', '28 &', '1-01', '2-15', '2-12',
       '007,', '008', '-005', ',013', '9-00', '& 0', '0094', '0040', '86',
       '026,', '0041', '045-', '0356', '44,0', '0064', 'TO 0', '104',
       '006-', '47', '-002', '0042', '2-00', '007-', 'TO', '0051', '1,00',
       '0039', '015,', '086', '61 &', ',R72', '& 03', '-063', '121,',
       '01-0', '0035', '119-', '012', ',002', '278-', '002', '172-',
       '50,0', '9204', '06,0', '102', '5-00', '041', '0057', '0071',
       '0748', '078', '032', '035', '0129', '-037', '-011', '11-0',
       '005,', '0050', '049,', '004', '048', '1008', '6507', '4025',
       '6002', '9104', '6501', '4009', '4015', '2022', '9205', '9219',
       '1012', '2047', '2027', '6506', '1107', '6504', '6500', '9206',
       '5014', '4012', '4008', '1007', '4021', '2032', '4000', '5011',
       '8501', '9218', '6024', '4006', '6001', '7007', '2052', '0012',
       '2010', '6010', '0025', '1019', '9102', '4029', '2055', '5004',
       '2059', '2046', '9215', '2050', '1113', '7023', '1105', '4003',
       '2053', '0521', '1013', '6512', '6505', '1126', '9109', '8503',
       '1901', '0024', '6021', '5020', '4010', '6023', '9201', '2054',
       '8504', '4011', '2058', '4001', '3009', '2019', '8006', '5010',
       '1010', '1902', '2038', '5012', '4014', '8010', '2017', '6514',
       '4027', '6013', '3001', '3002', '3011', '8005', '5013', '7019',
       '4005', '8500', '0014', '1005', '1003', '6006', '9214', '6005',
       '6513', '4024'], dtype=object)

In [16]:
deeds_check = ['0403O02TF37BZ2PXMAV7DK',
'0405DLL9OLN1HDMQZBLAVK',
'0406K2QMSHQ1XN836Y38VQ',
'0403KN8CBA3CTXHH7MI1XM',
'0403PFQXX4NAZ07MEF4CK4',
'0404877X5ITU79F8ESCX7P',
'0405O5IJ83JUUTVJ87SUCX',
'04025C62THKW6O8SWQV9K9',
'0406AFUE17Y9F2O2IFRW76',
'0401P2IHC7ALG6EMMKCXOT',
'04061P0HVJCK2TOG95CCS5',
'0400QVPL5L5D43JO8QV7N0',
'0405AKKV667XPQV30AW9JO',
'0400B2MK8IHSDDWUGFD0AN',
'040102NV9TV64A01QRHC0L',
'0401QCMAP3H8TU91FJMJE1',
'04075TPLBMHQFXN08UOHC5']
deeds_df[deeds_df['DEED_LID'].isin(deeds_check)][['DEED_LID','ARMS_LENGTH_FLAG',
'BUYER',
'BUYER_1_ID_CODE',
'BUYER_2_FIRST_MID',
'BUYER_2_ID_CODE',
'BUYER_2_LAST',
'BUYER_MAIL_ADDR',
'BUYER_MAIL_CITY',
'BUYER_MAIL_PLUS_4',
'BUYER_MAIL_STATE',
'BUYER_MAIL_ZIP',
'BUYER_VESTING_CODE',
'CASH_PURCHASE',
'CNT_TRANSF_TAX',
'CONST_LOAN',
'CTY_TRANSF_TAX',
'DATE_FILING',
'DEED_TRAN_TYPE',
'DOC_TYPE',
'EQUITY_LINE',
'FORECLOSURE_SALE',
'FULL_PART_CODE_DESC',
'INT_RATE_1',
'INT_RATE_1_DESC',
'INTER_FAMILY',
'LEGAL_CTY_TWP_MUNI',
'LEGAL_DESC',
'LEGAL_DISTRICT',
'LEGAL_LAND_LOT',
'LEGAL_LOT_CODE',
'LEGAL_PHASE',
'LEGAL_SEC_TWP_RNG',
'LEGAL_SECTION',
'LEGAL_SUBDIVISION',
'LEGAL_UNIT',
'LNDR_NAME',
'LNDR_TYPE',
'LOAN_DUE_DATE_1',
'LOAN_TYPE_1',
'LOAN_VALUE_1',
'LOAN_VALUE_2',
'MARKET_SALE',
'MULTI_TAXAPN_FLAG',
'QUIT_CLAIM',
'RCDRS_BOOK',
'RCDRS_MAP_REF',
'RCDRS_PAGE',
'SALE_PRICE_CODE',
'SELLER',
'SELLER_1_ID_CODE',
'SELLER_2_FIRST_MID',
'SELLER_2_LAST',
'STAND_ALONE_REFI',
'TD_DOC_NUMBER_1',
'TITLE_COMPANY_NAME',
'TOT_TRANSF_TAX',
'TRAN_USE_CODE',
'USE_CODE_STD_CTGR_DESC_LPS',
'USE_CODE_STD_LPS',
'VERSION_ID']].to_clipboard(index=False)

In [11]:
deeds_check = ['0403O02TF37BZ2PXMAV7DK','0405DLL9OLN1HDMQZBLAVK','0406K2QMSHQ1XN836Y38VQ','0403KN8CBA3CTXHH7MI1XM','0403PFQXX4NAZ07MEF4CK4','0404877X5ITU79F8ESCX7P','0405O5IJ83JUUTVJ87SUCX','04025C62THKW6O8SWQV9K9','0406AFUE17Y9F2O2IFRW76','0401P2IHC7ALG6EMMKCXOT','04061P0HVJCK2TOG95CCS5','0400QVPL5L5D43JO8QV7N0','0405AKKV667XPQV30AW9JO','0400B2MK8IHSDDWUGFD0AN','040102NV9TV64A01QRHC0L','0401QCMAP3H8TU91FJMJE1','04075TPLBMHQFXN08UOHC5']
deeds_df[deeds_df['DEED_LID'].isin(deeds_check)][['DEED_LID','BUILDER_SALE','LEGAL_BLOCK','LEGAL_LOT_NUMBER','LEGAL_TRACT','SITE_CARRIER_CODE']
                                                 ]

,DEED_LID,BUILDER_SALE,LEGAL_BLOCK,LEGAL_LOT_NUMBER,LEGAL_TRACT,SITE_CARRIER_CODE
1290843,0403PFQXX4NAZ07MEF4CK4,NaN,NaN,NaN,NaN,R777
1290844,0403KN8CBA3CTXHH7MI1XM,NaN,NaN,NaN,NaN,R777
6308190,0401P2IHC7ALG6EMMKCXOT,NaN,NaN,44,NaN,C056
6333607,0405AKKV667XPQV30AW9JO,NaN,NaN,NaN,NaN,H050
6333608,0400QVPL5L5D43JO8QV7N0,Y,NaN,NaN,NaN,H050
6333621,04061P0HVJCK2TOG95CCS5,NaN,NaN,NaN,NaN,H050
6417708,04075TPLBMHQFXN08UOHC5,NaN,B,17,NaN,C025
6523260,0405O5IJ83JUUTVJ87SUCX,NaN,NaN,395,NaN,C002
6523261,0404877X5ITU79F8ESCX7P,NaN,NaN,395,NaN,C002
6637244,0400B2MK8IHSDDWUGFD0AN,NaN,NaN,13,NaN,C054
6637246,0401QCMAP3H8TU91FJMJE1,Y,NaN,13,NaN,C054
6637247,040102NV9TV64A01QRHC0L,NaN,NaN,NaN,NaN,C054
8369501,04025C62THKW6O8SWQV9K9,NaN,NaN,41,NaN,C100
8369502,0406AFUE17Y9F2O2IFRW76,NaN,NaN,41,NaN,C100
8697794,0403O02TF37BZ2PXMAV7DK,NaN,NaN,763,NaN,C002
8697795,0406K2QMSHQ1XN836Y38VQ,NaN,NaN,763,NaN,C002
9037567,0405DLL9OLN1HDMQZBLAVK,NaN,NaN,NaN,NaN,C007

In [3]:
len(deeds_df[pd.isna(deeds_df['USE_CODE_MUNI'])])/len(deeds_df)

0.09186600502745246

In [4]:
len(deeds_df)

14426392

In [6]:
from tqdm.auto import tqdm
col_name = []
pct = []
for i in tqdm(deeds_df.columns):
    col_name.append(i)
    pct.append(len(deeds_df[pd.isna(deeds_df[f'{i}'])])/len(deeds_df))

  0%|          | 0/159 [00:00<?, ?it/s]

In [7]:
pd.DataFrame({'Column Name': col_name, '% Populated': pct}).to_clipboard(index=False)

## Config Testing

In [4]:
import json
with open('data/sample_oms_data.json', 'r') as f:
    oms_sample = json.load(f)
with open('data/lightbox_config.json', 'r') as f:
    config = json.load(f)

oms_sample

{'buyer_name': 'Johnson, Stacie A',
 'buyer_type': 'ID',
 'legal_unit': None,
 'quit_claim': 'f',
 'equity_line': 'f',
 'filing_date': '2008-05-21',
 'foreclosure': 'f',
 'legal_phase': None,
 'lender_name': 'The Citizens Bank Of Logan',
 'market_sale': 't',
 'seller_name': 'Yeske, Ronald',
 'seller_type': 'MP',
 'buyer_2_name': None,
 'buyer_2_type': None,
 'buyer_vesting': None,
 'cash_purchase': 'f',
 'document_type': 'WD',
 'legal_section': None,
 'seller_2_name': None,
 'title_company': None,
 'legal_land_lot': None,
 'interest_rate_1': None,
 'loan_due_date_1': None,
 'mortgage_amount': '45000',
 'tax_book_number': '0412',
 'tax_page_number': '493',
 'arms_length_sale': 't',
 'lightbox_version': '20240731',
 'city_transfer_tax': None,
 'construction_loan': 'f',
 'legal_description': None,
 'legal_subdivision': 'Ponds Addition',
 'mortgage_2_amount': None,
 'multi_parcel_sale': None,
 'partial_sale_code': None,
 'inter_family_sale,': 'f',
 'legal_jurisdiction': 'Logan',
 'legal_lot_category': None,
 'total_transfer_tax': '168.00',
 'county_transfer_tax': None,
 'legal_district_code': None,
 'buyer_mailing_address': '72 Hill St, Logan, OH, 43138-1510',
 'stand_alone_refinance': 'f',
 'lender_type_description': 'N',
 'loan_type_1_description': 'W',
 'recorders_map_reference': None,
 'mortgage_document_number': '200800007461',
 'property_type_description': 'Single Family Residential',
 'interest_rate_1_description': None,
 'sale_price_code_description': '*',
 'legal_section_township_range': 'S11T14NR17W',
 'transaction_use_code_description': None,
 'deed_transaction_type_description': '9',
 'standardized_use_code_description': 'Residential'}

In [5]:
config

[{'title': 'Transaction Information',
  'elements': [{'key': 'sale_date', 'title': ''},
   {'key': 'filing_date', 'title': 'Date filed'},
   {'key': 'sale_price_code_description', 'title': 'Sale price remarks'},
   {'key': 'property_type_description', 'title': 'Property type description'},
   {'key': 'document_type', 'title': 'Document type'},
   {'key': 'deed_transaction_type_description',
    'title': 'Deed transaction type'},
   {'key': 'partial_sale_code', 'title': 'Partial sale'},
   {'key': 'county_transfer_tax', 'title': 'County transfer tax'},
   {'key': 'city_transfer_tax', 'title': 'City transfer tax'},
   {'key': 'total_transfer_tax', 'title': 'Total transfer tax'},
   {'key': 'overall_condition.new_construction', 'title': ''},
   {'key': 'multi_parcel_sale', 'title': 'Multi-parcel sale?'},
   {'key': 'foreclosure', 'title': 'Foreclosure?'},
   {'key': 'construction_loan', 'title': 'Construction loan?'},
   {'key': 'equity_line', 'title': 'Home equity line?'},
   {'key': 'cash_purchase', 'title': 'Cash purchase?'},
   {'key': 'quit_claim', 'title': 'Quitclaim transaction?'},
   {'key': 'stand_alone_refinance', 'title': 'Stand-alone refinance?'},
   {'key': 'market_sale', 'title': 'Market sale?'},
   {'key': 'arms_length_sale', 'title': "Arm's length sale?"}]},
 {'title': 'Transaction Parties',
  'elements': [{'key': 'seller_name', 'title': 'Seller name'},
   {'key': 'seller_type', 'title': 'Seller type'},
   {'key': 'seller_2_name', 'title': 'Second seller name'},
   {'key': 'buyer_name', 'title': 'Buyer name'},
   {'key': 'buyer_type', 'title': 'Buyer type'},
   {'key': 'buyer_mailing_address', 'title': 'Buyer mailing address'},
   {'key': 'buyer_2_name', 'title': 'Second buyer name'},
   {'key': 'buyer_2_type', 'title': 'Second buyer description'},
   {'key': 'inter_family_sale', 'title': 'Inter-family transfer?'}]},
 {'title': 'Financing',
  'elements': [{'key': 'mortgage_amount', 'title': 'Mortgage amount'},
   {'key': 'interest_rate_1', 'title': 'Mortgage interest rate'},
   {'key': 'interest_rate_1_description', 'title': 'Interest rate type'},
   {'key': 'loan_due_date_1', 'title': 'Loan due date'},
   {'key': 'mortgage_2_amount', 'title': 'Second mortgage amount'},
   {'key': 'mortgage_document_number', 'title': 'Mortgage document number'},
   {'key': 'loan_type_1_description', 'title': 'Loan type'},
   {'key': 'lender_name', 'title': 'Lender'},
   {'key': 'lender_type_description', 'title': 'Lender type'},
   {'key': 'title_company', 'title': 'Title company'},
   {'key': 'buyer_vesting', 'title': 'Buyer vesting'}]},
 {'title': 'Administrative & Legal',
  'elements': [{'key': 'recorded_closing_id', 'title': ''},
   {'key': 'legal_description', 'title': 'Legal description'},
   {'key': 'standardized_use_code_description',
    'title': 'Standardized use code'},
   {'key': 'transaction_use_code_description',
    'title': 'Property use in rider'},
   {'key': 'tax_tract', 'title': ''},
   {'key': 'tax_book_number', 'title': 'Tax book number'},
   {'key': 'tax_page_number', 'title': 'Tax page number'},
   {'key': 'tax_block', 'title': ''},
   {'key': 'tax_lot', 'title': ''},
   {'key': 'legal_land_lot', 'title': 'Legal land lot'},
   {'key': 'legal_lot_category', 'title': 'Legal lot category'},
   {'key': 'legal_unit', 'title': 'Legal unit'},
   {'key': 'city', 'title': ''},
   {'key': 'state', 'title': ''},
   {'key': 'zip', 'title': ''},
   {'key': 'postal_code_plus4', 'title': ''},
   {'key': 'carrier_route', 'title': ''},
   {'key': 'recorders_map_reference', 'title': "Recorder's map reference"},
   {'key': 'legal_section_township_range',
    'title': 'Legal section, township, range'},
   {'key': 'legal_section', 'title': 'Legal section'},
   {'key': 'legal_subdivision', 'title': 'Legal subdivision'},
   {'key': 'legal_jurisdiction', 'title': 'Legal jurisdiction'},
   {'key': 'legal_district_code', 'title': 'Legal district code'},
   {'key': 'legal_phase', 'title': 'Legal development phase'}]}]

In [8]:
fields_in_config = []
for i in config:
    for j in i['elements']:
        fields_in_config.append(j['key'])

In [10]:
for i in fields_in_config:
    if not i in oms_sample.keys():
        print(i)

sale_date
overall_condition.new_construction
inter_family_sale
recorded_closing_id
tax_tract
tax_block
tax_lot
city
state
zip
postal_code_plus4
carrier_route

In [16]:
for i in oms_sample.keys():
    if not i in fields_in_config:
        print(i)

lightbox_version
inter_family_sale,

In [24]:
deeds_df[deeds_df['DEED_LID']=='0403O02TF37BZ2PXMAV7DK'][['BUYER_1_ID_CODE', 'SITE_CARRIER_CODE','DATE_TRANSFER', 'DOC_NBR', 'LEGAL_TRACT', 'LEGAL_BLOCK','LEGAL_LOT_NUMBER','SITE_CITY', 'SITE_STATE', 'SITE_ZIP', 'SITE_PLUS_4']]

,BUYER_1_ID_CODE,SITE_CARRIER_CODE,DATE_TRANSFER,DOC_NBR,LEGAL_TRACT,LEGAL_BLOCK,LEGAL_LOT_NUMBER,SITE_CITY,SITE_STATE,SITE_ZIP,SITE_PLUS_4
8697794,ID,C002,2008-05-23 00:00:00,200800007460,NaN,NaN,763,LOGAN,OH,43138.0,1510.0

In [ ]:
oms_sample['builder']

In [6]:
deeds_df[deeds_df['USE_CODE_STD_LPS'] == '540']

Empty DataFrame
Columns: [DEED_LID, FIPS_CODE, FIPS_STATE_CODE, FIPS_MUNI_CODE, SITE_ADDR, SITE_HOUSE_NUMBER, SITE_DIRECTION, SITE_STREET_NAME, SITE_MODE, SITE_QUADRANT, SITE_UNIT_PREFIX, SITE_UNIT_NUMBER, SITE_CITY, SITE_STATE, SITE_ZIP, SITE_PLUS_4, SITE_CARRIER_CODE, DATE_TRANSFER, RCDRS_BOOK, RCDRS_PAGE, DOC_NBR, DOC_TYPE, DOC_TYPE_DESC, TAXAPN, TAXAPN_UNF, MULTI_TAXAPN_FLAG, FULL_PART_CODE, FULL_PART_CODE_DESC, SELLER, SELLER_1_FIRST_MID, SELLER_1_LAST, SELLER_1_ID_CODE, SELLER_1_ID_CODE_DESC, SELLER_2_FIRST_MID, SELLER_2_LAST, SELLER_2_ID_CODE, SELLER_2_ID_CODE_DESC, BUYER, BUYER_1_FIRST_MID, BUYER_1_LAST, BUYER_1_ID_CODE, BUYER_1_ID_CODE_DESC, BUYER_2_FIRST_MID, BUYER_2_LAST, BUYER_2_ID_CODE, BUYER_2_ID_CODE_DESC, BUYER_VESTING_CODE, BUYER_VESTING_CODE_DESC, TD_DOC_NUMBER_1, TITLE_COMPANY_NAME, BUYER_MAIL_ADDR, BUYER_MAIL_UNIT_PREFIX, BUYER_MAIL_UNIT_NUMBER, BUYER_MAIL_CARE_OF_NAME, BUYER_MAIL_ADDR_CODE, BUYER_MAIL_ADDR_CODE_DESC, BUYER_MAIL_CITY, BUYER_MAIL_STATE, BUYER_MAIL_ZIP, BUYER_MAIL_PLUS_4, LEGAL_LOT_CODE, LEGAL_LOT_CODE_DESC, LEGAL_LOT_NUMBER, LEGAL_BLOCK, LEGAL_SECTION, LEGAL_DISTRICT, LEGAL_LAND_LOT, LEGAL_UNIT, LEGAL_CTY_TWP_MUNI, LEGAL_SUBDIVISION, LEGAL_PHASE, LEGAL_TRACT, LEGAL_DESC, LEGAL_SEC_TWP_RNG, LEGAL_DESC_CODE, LEGAL_DESC_CODE_DESC, RCDRS_MAP_REF, DATE_FILING, VAL_TRANSFER, SALE_PRICE_CODE, SALE_PRICE_CODE_DESC, CTY_TRANSF_TAX, CNT_TRANSF_TAX, TOT_TRANSF_TAX, LNDR_NAME, LNDR_TYPE, LNDR_TYPE_DESC, LOAN_VALUE_1, LOAN_TYPE_1, LOAN_TYPE_1_DESC, INT_RATE_TYPE_1, INT_RATE_1_DESC, INT_RATE_1, LOAN_DUE_DATE_1, LOAN_VALUE_2, USE_CODE_MUNI, USE_CODE_MUNI_DESC, USE_CODE_STD_LPS, USE_CODE_STD_DESC_LPS, USE_CODE_STD_CTGR_LPS, ...]
Index: []

[0 rows x 159 columns]

In [7]:
deeds_df.groupby('USE_CODE_STD_LPS')['DEED_LID'].count().to_clipboard()